<main role="main" class="containtAll">
  <div class="fr-container ">

    <h1 class="fr-mt-7w fr-mb-4w">Enquêtes CIB-CIC</h1>
    <div class="fr-notice fr-notice--info fr-mb-4w">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p>
            <span class="fr-notice__title">Information</span>
            <span class="fr-notice__desc">Il s'agit de la synthèse des résultats de l'ensemble des organismes soumis à l'enquête sur l'année sélectionnée. Les résultats de l’enquête d’un organisme spécifique se trouvent sur la page de l’organisme.</span>
          </p>
        </div>
      </div>
    </div>


    <%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
      <div class="fr-container--grey fr-p-2w fr-mb-2w">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-12">
            <div class="fr-mb-2w">
              <button class="fr-btn fr-icon-filter-line fr-btn--icon-left" aria-controls="modal-btn-filtrer" data-fr-opened="false" type="button">
                Filtrer les résultats
              </button>
            </div>
            <% active_filters = ["Exercice : #{@annee_a_afficher}"] %>
            <% if params.dig(:q, :organisme_famille_in).present? %>
              <% params[:q][:organisme_famille_in].each { |fam| active_filters << "Famille : #{fam}" } %>
            <% end %>
            <% if params.dig(:q, :organisme_comptabilite_budgetaire_in).present? %>
              <% params[:q][:organisme_comptabilite_budgetaire_in].each { |val| active_filters << "Comptabilité budgétaire : #{val}" } %>
            <% end %>
            <% if params.dig(:q, :organisme_controleur_nom_in).present? %>
              <% params[:q][:organisme_controleur_nom_in].each { |nom| active_filters << "Contrôleur : #{nom}" } %>
            <% end %>
            <% has_extra_filters = params[:annee].present? || params.dig(:q, :organisme_famille_in).present? || params.dig(:q, :organisme_comptabilite_budgetaire_in).present? || params.dig(:q, :organisme_controleur_nom_in).present? %>
            <div class="fr-mb-2w">
              <h6 class="fr-mb-1w">Filtres appliqués (<%= active_filters.count %>)</h6>
              <ul class="fr-tags-group">
                <% active_filters.each do |filter| %>
                  <li><p class="fr-tag fr-tag--filtres"><%= filter %></p></li>
                <% end %>
                <% if has_extra_filters %>
                  <li>
                    <%= link_to enquete_reponses_path, class: "fr-tag fr-tag--dismiss", data: { turbo_frame: 'results', turbo_action: 'advance' } do %>
                      Réinitialiser les filtres
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h2 class="title-btn">Restitutions des résultats d'enquête <%= @annee_a_afficher %>
        <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-download-line" aria-controls="modal-telechargement" data-fr-opened="false">
          Télécharger
        </button>
      </h2>

      <% if @annee_a_afficher == 2025 %>
        <div class="fr-notice fr-notice--info fr-mb-4w">
          <div class="fr-container">
            <div class="fr-notice__body">
              <p>
                <span class="fr-notice__title">NB : </span>
                <span class="fr-notice__desc">
              Vous trouverez, ci-après, une restitution quantitative de l'enquête 2025 sur le déploiement des dispositifs de CIB et CIC dans les organismes publics nationaux (QCIBC2025). Pour vous permettre de comparer les données 2025 aux données des années précédentes, seules les réponses aux questions du socle historique du QCIBC vous sont ici présentées.
            </span>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <dialog aria-labelledby="modal-telechargement-title" id="modal-telechargement" class="fr-modal" role="dialog">
        <div class="fr-container fr-container--fluid fr-container-md">
          <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
              <div class="fr-modal__body">
                <div class="fr-modal__header">
                  <button class="fr-btn--close fr-btn" aria-controls="modal-telechargement">Fermer</button>
                </div>
                <div class="fr-modal__content">
                  <h1 id="fr-modal-2-title" class="fr-modal__title">
                    <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                    Télécharger les résultats de l'enquête <%= @annee_a_afficher %>
                  </h1>
                  <p>
                  <div data-controller="pdf-export">
                    <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-download-line" data-action="pdf-export#export" data-pdf-export-target="button">
                      Exporter les résultats au format PDF
                    </button>
                  </div>
                  </p>
                  <p>
                    <%= button_to enquete_reponses_path(annee: @annee_a_afficher, format: :xlsx), method: :get, class: "fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-download-line" do %>
                      Exporter les résultats <%= @annee_a_afficher %> au format XLSX
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dialog>


      <div id="containPDF">
        <h2 class="fr-h2 fr-mt-6w print fr-hidden">Restitutions des résultats d'enquête <%= @annee_a_afficher %></h2>

        <% @resultats.each_with_index do |(question, reponses), index| %>
          <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12 fr-col-lg-4">
              <p class="fr-text--regular"><%= question %></p>
            </div>
            <div class="fr-col-12 fr-col-lg-8">
              <div data-controller="highcharts" data-highcharts-datavalue="<%= reponses.to_json %>"></div>
            </div>
          </div>
          <hr class="fr-mt-2w">
        <% end %>

      </div>


      <dialog id="modal-btn-filtrer" class="fr-modal fr-modal--top fr-modal--custom" aria-labelledby="modal-btn-filtrer-title" data-fr-concealing-backdrop="true">
        <div class="fr-container--fluid">
          <div class="fr-modal-custom__row--left">
            <div class="fr-col-12">
              <div class="fr-modal-custom__body" data-controller="request">
                <div class="fr-modal__header">
                  <button aria-controls="modal-btn-filtrer" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
                </div>
                <div class="fr-modal__content">
                  <h2 id="modal-btn-filtrer-title" class="fr-modal__title">
                    Filtrer les résultats
                  </h2>
                  <%= search_form_for @q, url: enquete_reponses_path, data: { 'request-target': 'form', turbo_frame: 'results', turbo_action: 'advance' } do |f| %>
                    <div class="fr-select-group fr-mb-3w">
                      <label class="fr-label fr-text--bold" for="annee_select">Exercice</label>
                      <%= select_tag :annee, options_for_select(@enquete_annees.map { |a| [a.to_s, a.to_s] }, @annee_a_afficher.to_s), class: 'fr-select', id: 'annee_select' %>
                    </div>
                    <%= render_select_group("Famille", :organisme_famille_in, @liste_familles, auto_submit: false) %>
                    <% if @statut_user != "Controleur" %>
                      <%= render_select_group("Contrôleur", :organisme_controleur_nom_in, @controleur_name_list, auto_submit: false) %>
                    <% end %>

                    <div class="fr-mt-3w">
                      <button type="submit" class="fr-btn">
                        Valider
                      </button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dialog>
    <% end %>
  </div>
</main>