<main role="main" class="containtAll">
  <div class="fr-container ">
    <div class="fr-col-lg-12">
      <h1 class="fr-mt-7w fr-mb-4w">Enquêtes CIB-CIC</h1>
      <div class="fr-notice fr-notice--info fr-mb-4w">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Information</span>
              <span class="fr-notice__desc">Il s'agit de la synthèse des résultats de l'ensemble des organismes soumis à l'enquête sur l'année sélectionnée. Les résultats de l’enquête d’un organisme spécifique se trouvent sur la page de l’organisme.</span>
            </p>
          </div>
        </div>
      </div>
      <% unless @enquete_annees.empty? %>
        <div>
          <ul class="fr-tags-group">
            <% @enquete_annees.each do |annee| %>
              <li>
                <%= link_to annee, enquete_reponses_path(annee: annee), class: "fr-tag", 'aria-pressed' => (@annee_a_afficher == annee ? 'true' : 'false') %>
              </li>
            <% end %>
          </ul>
        </div>

      <h2>Restitutions des <%= @reponses %> résultats d'enquête <%= @annee_a_afficher %></h2>
      <% @resultats.each_with_index do  |(question, reponses), index| %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-4">
            <p class="fr-text--regular"><%= question %></p>
          </div>
          <div class="fr-col-8">
            <div data-controller="highcharts" data-highcharts-datavalue="<%= reponses.to_json %>"></div>
          </div>
        </div>
        <hr class="fr-mt-2w">
      <% end %>

      <% end  %>
    </div>
  </div>
</main>