<% content_for :title do %>Historique des modifications | OPERA <% end %>
<main role="main" class="containtAll">
  <div class="fr-container ">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-my-4w"><% if current_user.statut == "2B2O" %>Modifications des contrôleurs<%else %>Mes modifications<%end %></h1>
        <%= render 'modifications/success'%>
        <div class="fr-tabs fr-mb-2w">
          <ul class="fr-tabs__list" role="tablist" aria-label="Onglets Organismes actifs">
            <li role="presentation">
              <button id="tabpanel-1177" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-1177-panel">Modifications en attente (<%= @modifications_attente.length %>)</button>
            </li>
            <li role="presentation">
              <button id="tabpanel-1178" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-1178-panel">Modifications validées (<%= @total_valides %>)</button>
            </li>
            <li role="presentation">
              <button id="tabpanel-1179" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-1179-panel">Modifications rejetées (<%= @total_refus %>)</button>
            </li>
          </ul>
          <div id="tabpanel-1177-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-1177" tabindex="0">
            <div class="fr-table fr-table--bordered fr-table--no-caption fr-table--layout-fixed--lg">
              <table>
                <caption>Tableau des modifications en attente</caption>
                <thead>
                <tr>
                  <th scope="col">Date de saisie</th>
                  <% if @statut_user == "2B2O" %>
                    <th scope="col">Contrôleur</th>
                  <%end %>
                  <th scope="col">Organisme</th>
                  <th scope="col">Nombre de demandes en attente</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @modification_counts_attente.each do |modification| %>
                  <tr>
                    <td><%= format_date(modification.modification_date) %></td>
                    <% if @statut_user == "2B2O" %>
                    <td><%= User.find(modification.user_id).nom %></td>
                      <%end %>
                    <td><%= link_to organisme_path(modification.organisme_id) do %><%= Organisme.find(modification.organisme_id).nom %><%end %></td>
                    <td><p class="fr-badge fr-badge--warning fr-badge--no-icon"><%= modification.modification_count %></p></td>
                    <td><%= link_to organisme_path(modification.organisme_id), class:'fr-btn' do %>Consulter<%end %></td>
                  </tr>
                <%end %>
                </tbody>
              </table>

            </div>
          </div>
          <div id="tabpanel-1178-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-1178" tabindex="0">
            <div class="fr-table fr-table--bordered fr-table--no-caption fr-table--layout-fixed--lg">
              <table>
                <caption>Tableau des modifications validées</caption>
                <thead>
                <tr>
                  <th scope="col">Date de saisie</th>
                  <% if @statut_user == "2B2O" %>
                    <th scope="col">Contrôleur</th>
                  <%end %>
                  <th scope="col">Organisme</th>
                  <th scope="col">Nombre de demandes validées</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @modification_counts_valides.each do |modification| %>
                  <tr>
                    <td><%= format_date(modification.modification_date) %></td>
                    <% if @statut_user == "2B2O" %>
                      <td><%= User.find(modification.user_id).nom %></td>
                    <%end %>
                    <td><%= link_to organisme_path(modification.organisme_id) do %><%= Organisme.find(modification.organisme_id).nom %><%end %></td>
                    <td><p class="fr-badge fr-badge--success fr-badge--no-icon"><%= modification.modification_count %></p></td>
                    <td><%= link_to organisme_path(modification.organisme_id), class:'fr-btn' do %>Consulter<%end %></td>
                  </tr>
                <%end %>
                </tbody>
              </table>
            </div>
          </div>
          <div id="tabpanel-1179-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-1179" tabindex="0">
            <div class="fr-table fr-table--bordered fr-table--no-caption fr-table--layout-fixed--lg">
              <table>
                <caption>Tableau des modifications rejetées</caption>
                <thead>
                <tr>
                  <th scope="col">Date de saisie</th>
                  <% if @statut_user == "2B2O" %>
                    <th scope="col">Contrôleur</th>
                  <%end %>
                  <th scope="col">Organisme</th>
                  <th scope="col">Nombre de demandes rejetées</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @modification_counts_refus.each do |modification| %>
                  <tr>
                    <td><%= format_date(modification.modification_date) %></td>
                    <% if @statut_user == "2B2O" %>
                      <td><%= User.find(modification.user_id).nom %></td>
                    <%end %>
                    <td><%= link_to organisme_path(modification.organisme_id) do %><%= Organisme.find(modification.organisme_id).nom %><%end %></td>
                    <td><p class="fr-badge fr-badge--error fr-badge--no-icon"><%= modification.modification_count %></p></td>
                    <td><%= link_to organisme_path(modification.organisme_id), class:'fr-btn' do %>Consulter<%end %></td>
                  </tr>
                <%end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>