<% content_for :title do %>Historique des modifications | [NOM] <% end %>
<main role="main" class="containtAll">
  <div class="fr-container ">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-my-4w">Historique des modifications [<%= @modifications.length %>]</h1>

        <div class="fr-table fr-table--bordered fr-table--no-caption">
          <table>
            <caption>Tableau des modifications </caption>
            <thead>
            <tr>
              <th scope="col">Date de saisie</th>
              <th scope="col">Contrôleur</th>
              <th scope="col">Organisme</th>
              <th scope="col">Champ</th>
              <th scope="col">Valeur</th>
              <th scope="col">Statut</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <% @modifications.each do |modification| %>
              <tr>
                <td><%= format_date(modification.created_at) %></td>
                <td><%= modification.user.nom %></td>
                <td><%= link_to organisme_path(modification.organisme) do %><%= modification.organisme.nom %><%end %></td>
                <td><%= modification.champ %></td>
                <td><b><%= format_boolean(modification.nouvelle_valeur) %></b> <span class="fr-text--barre"><%= format_boolean(modification.ancienne_valeur) %></span></td>
                <td><% if modification.statut == "validée"%> <p class="fr-badge fr-badge--info fr-badge--no-icon"> <% elsif modification.statut == "refusée"%> <p class="fr-badge fr-badge--error fr-badge--no-icon"><% else %><p class="fr-badge fr-badge--new fr-badge--no-icon"></p><%end %><%= modification.statut %></td>
                <td>
                  <% if modification.statut == "En attente" %>
                  <ul class="fr-btns-group fr-btns-group--inline">
                  <li><%= link_to modification_path(modification, statut: "validée"), data: { "turbo-method": :patch}, class:"fr-btn" do %> Valider <%end %></li>
                  <li><%= link_to modification_path(modification, statut: "refusée"), data: { "turbo-method": :patch}, class:"fr-btn fr-btn--secondary" do%> Refuser <%end %></li>
                  </ul>
                  <%end %>
                </td>
              </tr>
            <%end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>