<% content_for :title do %>Documents du contrôleur <%= @controleur.nom %> | OPERA <% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb fr-my-3w" aria-label="vous êtes ici :">
      <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
      <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
          <li>
            <%= link_to root_path, class:"fr-breadcrumb__link" do %>Accueil<%end %>
          </li>
          <li>
            <%= link_to documents_path, class:"fr-breadcrumb__link" do %>Documents<%end %>
          </li>
          <li>
            <a class="fr-breadcrumb__link" aria-current="page"><%= @controleur.nom %></a>
          </li>
        </ol>
      </div>
    </nav>
    <h1 class="fr-mb-4w">Documents <%= @controleur.nom %></h1>

    <h2 class="fr-my-3w">Documents de contrôle [<%= @controleur.control_documents.length%>]</h2>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-12">
        <% @controleur.control_documents.each do |document|%>
          <div>
            <b><%= link_to control_document_path(document), target: "_blank"  do %><%=document.name%><%end %>
               [<%= link_to organisme_path(document.organisme_id) do%><%= document.organisme.nom %><% end %>]</b>  signé le : <%= format_boolean(format_date(document.signature_date)) %>
          </div>
          <hr class="fr-hr fr-my-3w"/>
        <% end  %>
      </div>
    </div>
  </div>
</main>