<% content_for :title do %>Accueil | OPERA <% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <h1 class="fr-my-6w"><%= current_user.nom %></h1>


    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-card fr-enlarge-link fr-card--shadow">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title"><%= link_to organismes_path do %>Consulter les informations d'un organisme<%end %></h3>
              <p class="fr-card__desc">Accéder aux fiches des organismes de mon périmètre.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-card fr-enlarge-link fr-card--shadow">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <% if @statut_user == "2B2O" %>
              <h3 class="fr-card__title"><%= link_to modifications_path do %>Gérer les demandes de modifications contrôleurs<%end %></h3>
              <p class="fr-card__desc">Suivre l'historique des modifications effectuées par les contrôleurs.</p>
              <% elsif @statut_user == "Controleur" %>
                <h3 class="fr-card__title"><%= link_to modifications_path do %>Suivre mes modifications<%end %></h3>
              <p class="fr-card__desc">Accéder à l'historique des modifications effectuées sur les organismes de mon périmètre.</p>
              <% elsif @statut_user == "Bureau Sectoriel" %>
                <h3 class="fr-card__title"><%= link_to budgets_historique_path do %>Suivre l'historique des budgets<%end %></h3>
                <p class="fr-card__desc">Accéder à l'historique des budgets sur les organismes de mon périmètre.</p>
              <%end %>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-card fr-enlarge-link fr-card--no-border fr-card--custom-blue">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <% if @statut_user == "2B2O" %>
              <h3 class="fr-card__title"><%= link_to new_organisme_path do %>Créer la fiche d'un organisme<%end %></h3>
              <p class="fr-card__desc">Créer la fiche d'un organisme directement au sein de l'outil.</p>
              <% elsif @statut_user == "Controleur" %>
              <h3 class="fr-card__title"><%= link_to new_chiffre_path do %>Renseigner un nouveau budget<%end %></h3>
              <p class="fr-card__desc">Renseigner le budget d’un organisme de mon périmètre à chaque étape du cycle budgétaire.</p>
              <% elsif @statut_user == "Bureau Sectoriel" %>
                <h3 class="fr-card__title"><%= link_to budgets_suivi_path do %>Suivre les budgets par organisme<%end %></h3>
                <p class="fr-card__desc">Pour chaque organisme, suivez l’évolution du budget au cours de l’exercice budgétaire.</p>
              <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h2>Rechercher un organisme</h2>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-12">
    <%= render 'organismes/form_search' %>
      </div>
    </div>


    <h2>Derniers organismes modifiés</h2>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <% badge_classes = {
        "Inactif" => "fr-badge",
        "Actif" => "fr-badge fr-badge--green-menthe",
        "En cours de création" => "fr-badge fr-badge--warning fr-badge--no-icon"
      } %>
      <% @organismes_last.each do |organisme| %>
        <% badge_class = badge_classes[organisme[6]] || "fr-badge" # Utiliser fr-badge par défaut si aucune correspondance n'est trouvée %>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-card fr-enlarge-link">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title"><%= link_to organisme_path(organisme[0]) do %><%= organisme[1] %><% if organisme[2] && !organisme[2].blank? %> - <%= organisme[2] %><%end %><%end %></h3>
              <p class="fr-card__desc">Nature juridique : <%= format_boolean(organisme[4]) %></p>
              <p class="fr-card__desc">Famille : <%= format_boolean(organisme[5]) %></p>
              <div class="fr-card__start">
                <ul class="fr-tags-group">
                  <li>
                    <p class="<%= badge_class %>"><%= organisme[6] %></p>
                    <% if organisme[7] != "valide" %><p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p><%end %>
                  </li>
                </ul>
                <p class="fr-card__detail fr-icon-arrow-right-line">Modifié le <%= format_date(organisme[3])%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%end %>
    </div>
  </div>
  <% if @statut_user != "2B2O" %>
  <div class="fr-follow">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
        <div class="fr-col-12">
          <div class="fr-follow__newsletter">
            <div>
              <h2 class="fr-h5">Une question concernant OPERA ?</h2>
              <p class="fr-text--sm">Si vous rencontrez un problème dans l'utilisation de l'outil, vous pouvez nous envoyer un mail à l'adresse DB-2B2O@finances.gouv.fr ou en cliquant sur le bouton ci-contre.</p>
            </div>
            <div>
              <a href="mailto:DB-2B2O@finances.gouv.fr?subject=Contact-OPERA" class="fr-btn" rel="noopener" target="_blank" title="Nous contacter - nouvelle fenêtre">Nous contacter</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%end %>
</main>