<% if @organisme.statut != "valide" %>
  <h1 class="fr-my-6w">Création d'un organisme</h1>
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">
      <span class="fr-stepper__state">Étape 4 sur 6</span>
      Tutelles financière et technique
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="4" data-fr-steps="6"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Gouvernance
    </p>
  </div>
<%else %>
  <h1 class="fr-my-6w">Modification</h1>
<%end %>
<div class="fr-mt-4w" data-controller="form">
<%= form_with(model: @organisme, data: {'form-target': "form", action: "change->form#validateFormStep3 input->form#validateFormStep3 turbo:before-fetch-request->form#validateFormStep3"}) do |f|%>
  <% if @organisme.statut != "valide" %>
    <%= f.hidden_field :statut, value: "4" %>
  <%end %>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <fieldset class="fr-fieldset">
          <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w">
            Tutelle financière*<span class="fr-hint-text">La tutelle financière MCP découle de l'article 174 du décret GBCP. Les GIP n'ont pas de tutelle.</span>
          </legend>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :tutelle_financiere, true, id: "radio-tutelle-1", checked: @organisme.tutelle_financiere, data: {'form-target': 'checkRequire', action: "change->form#ChangeTutelle" }  %>
              <label class="fr-label" for="radio-tutelle-1">Oui</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :tutelle_financiere, false, checked: @organisme.tutelle_financiere == false, id:"radio-tutelle", data: {'form-target': 'checkRequire', action: "change->form#ChangeTutelle" } %>
              <label class="fr-label" for="radio-tutelle">Non</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <fieldset class="fr-fieldset" disabled>
        <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w">
          Délégation de l'approbation des BI / BR / comptes financiers<span class="fr-hint-text">Référence des derniers arrêtés de délégation.</span>
        </legend>
        <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
          <div class="fr-radio-group">
            <%= f.radio_button :delegation_approbation, true, id: "radio-approbation-1", checked: @organisme.delegation_approbation, data: {action: "change->form#ChangeApprobation" }  %>
            <label class="fr-label" for="radio-approbation-1">Oui</label>
          </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
          <div class="fr-radio-group">
            <%= f.radio_button :delegation_approbation, false, checked: @organisme.delegation_approbation == false, id:"radio-approbation", data: {action: "change->form#ChangeApprobation" } %>
            <label class="fr-label" for="radio-approbation">Non</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-select-group fr-select-group--disabled">
        <label for="autorite" class="fr-label">Autorité chargée de l'approbation*</label>
        <%= f.select :autorite_approbation,options_for_select([["- sélectionner -", ""], *@controleurs.map { |controleur| [controleur.nom, controleur.id] }]),{selected: @organisme.autorite_approbation}, {data: {'form-target': 'fieldRequire'}, id:"autorite",class:"fr-select", disabled: true}%>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-select-group">
        <label for="ministere" class="fr-label">Ministère de tutelle (tutelle principale)*</label>
        <%= f.select :ministere_id,options_for_select([["- sélectionner -", ""], *@ministeres.map { |ministere| [ministere.nom, ministere.id] }]),{selected: @organisme.ministere_id}, {data: {'form-target': 'fieldRequire'}, id:"ministere",class:"fr-select"}%>
      </div>
    </div>
  </div>
  <div class="fr-my-4w">
    <%= f.submit "Valider et passer à l'étape suivante", class: "fr-btn", data: {'form-target': "submitBouton"}, aria: { label: "Valider"},id:'submitBouton', disabled: true %>
  </div>
<%end %>
</div>