<% if @organisme.statut != "valide" %>
  <h1 class="fr-my-6w">Création d'un organisme</h1>
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">
      <span class="fr-stepper__state">Étape 5 sur 6</span>
      Gouvernance DB
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="5" data-fr-steps="6"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Catégories
    </p>
  </div>
<%else %>
  <h1 class="fr-my-6w">Modification</h1>
<%end %>
<div class="fr-mt-4w" data-controller="form">
  <%= form_with(model: @organisme, data: {'form-target': "form"}) do |f|%>
    <% if @organisme.statut != "valide" %>
      <%= f.hidden_field :statut, value: "5" %>
    <%end %>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-6">
        <fieldset class="fr-fieldset">
          <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
            Administrateur DB au sein de l’organe de gouvernance<span class="fr-hint-text">La composition de l'instance de gouvernance est fixée par le texte statutaire de l'organisme. La représentation de la DB peut-être assurée par un contrôleur.</span>
          </legend>

          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :admin_db_present, true, id: "radio-admin-1", checked: @organisme.admin_db_present == true, data: {action: "change->form#ChangeAdmin" } %>
              <label class="fr-label" for="radio-admin-1">Oui</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :admin_db_present, false, checked: @organisme.admin_db_present == false, id:"radio-admin-b", data: {action: "change->form#ChangeAdmin" }  %>
              <label class="fr-label" for="radio-admin-b">Non</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :admin_db_present, nil, checked: @organisme.admin_db_present.nil? , id:"radio-admin", data: {action: "change->form#ChangeAdmin" }  %>
              <label class="fr-label" for="radio-admin">Non renseigné</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group fr-input-group--disabled">
            <label for="admin_db_fonction" class="fr-label">Fonction de l’administrateur DB</label>
            <%= f.text_field :admin_db_fonction, value: @organisme.admin_db_fonction, id:"admin_db_fonction", class:"fr-input", disabled: true%>
          </div>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-6">
        <fieldset class="fr-fieldset">
          <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
            Présence DB au préCA
          </legend>

          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :admin_preca, true, id: "radio-admin-preca-1", checked: @organisme.admin_preca == true%>
              <label class="fr-label" for="radio-admin-preca-1">Oui</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :admin_preca, false, checked: @organisme.admin_preca == false, id:"radio-admin-preca-b" %>
              <label class="fr-label" for="radio-admin-preca-b">Non</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :admin_preca, nil, checked: @organisme.admin_preca.nil? , id:"radio-admin-preca" %>
              <label class="fr-label" for="radio-admin-preca">Non renseigné</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="fr-col-12 fr-col-lg-6">
        <fieldset class="fr-fieldset">
          <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
            Présence contrôleur au Pré-CA
          </legend>

          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :controleur_preca, true, id: "radio-controleur-preca-1", checked: @organisme.controleur_preca == true%>
              <label class="fr-label" for="radio-controleur-preca-1">Oui</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :controleur_preca, false, checked: @organisme.controleur_preca == false, id:"radio-controleur-preca-b" %>
              <label class="fr-label" for="radio-controleur-preca-b">Non</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :controleur_preca, nil, checked: @organisme.controleur_preca.nil? , id:"radio-controleur-preca" %>
              <label class="fr-label" for="radio-controleur-preca">Non renseigné</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-6">
        <fieldset class="fr-fieldset">
          <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
            Présence contrôleur au CA
          </legend>

          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :controleur_ca, true, id: "radio-controleur-ca-1", checked: @organisme.controleur_ca == true%>
              <label class="fr-label" for="radio-controleur-ca-1">Oui</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :controleur_ca, false, checked: @organisme.controleur_ca == false, id:"radio-controleur-ca-b" %>
              <label class="fr-label" for="radio-controleur-ca-b">Non</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :controleur_ca, nil, checked: @organisme.controleur_ca.nil? , id:"radio-controleur-ca" %>
              <label class="fr-label" for="radio-controleur-ca">Non renseigné</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="fr-col-12 fr-col-lg-6">
        <fieldset class="fr-fieldset">
          <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
            Existence d’un comité d’audit et des risques
          </legend>

          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :comite_audit, true, id: "radio-audit-1", checked: @organisme.comite_audit == true%>
              <label class="fr-label" for="radio-audit-1">Oui</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :comite_audit, false, checked: @organisme.comite_audit == false, id:"radio-audit-b" %>
              <label class="fr-label" for="radio-audit-b">Non</label>
            </div>
          </div>
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
            <div class="fr-radio-group">
              <%= f.radio_button :comite_audit, nil, checked: @organisme.comite_audit.nil? , id:"radio-audit" %>
              <label class="fr-label" for="radio-audit">Non renseigné</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="fr-my-4w">
      <%= f.submit "Valider et passer à l'étape suivante", class: "fr-btn", data: {'form-target': "submitBouton"}, aria: { label: "Valider"},id:'submitBouton' %>
    </div>
  <%end %>
</div>