<% if @organisme.statut != "valide" %>
  <h1 class="fr-my-4w">Création d'un organisme</h1>
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">
      <span class="fr-stepper__state">Étape 2 sur 6</span>
      Régime budgétaire et comptable
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="6"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Contrôle
    </p>
  </div>
<%else %>
  <nav role="navigation" class="fr-breadcrumb fr-my-3w" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to organismes_path, class:"fr-breadcrumb__link" do %>Organismes<%end %>
        </li>
        <li>
          <%= link_to organisme_path(@organisme), class:"fr-breadcrumb__link" do %><%= @organisme.nom %><%end %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Modification régime budgétaire et comptable</a>
        </li>
      </ol>
    </div>
  </nav>
  <h1 class="fr-mb-4w">Modification régime budgétaire et comptable</h1>
<%end %>
<div class="fr-mb-6w">
  <div class="fr-card fr-card--shadow fr-card--no-arrow">
    <div class="fr-card__body" data-controller="form">
      <div class="fr-card__content">
      <%= form_with(model: @organisme, data: {'form-target': "form", action: "change->form#validateForm turbo:before-fetch-request->form#submitForm"}) do |f|%>
        <% if @organisme.statut != "valide" %>
          <%= f.hidden_field :statut, value: "2" %>
        <%end %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-5">
              <fieldset class="fr-fieldset">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w">
                  Partie I GBCP* <span class="fr-hint-text">Si "Non", pas de soumission à la GBCP</span>
                </legend>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                  <div class="fr-radio-group">
                      <%= f.radio_button :gbcp_1, true, id: "radio-gbcp-1", checked: @organisme.gbcp_1, data: {'form-target': 'checkRequire', action: "change->form#ChangeGBCP1"}  %>
                    <label class="fr-label" for="radio-gbcp-1">Oui</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                  <div class="fr-radio-group">
                    <%= f.radio_button :gbcp_1, false, checked: @organisme.gbcp_1 == false, id:"radio-gbcp", data: {'form-target': 'checkRequire', action: "change->form#ChangeGBCP1" } %>
                    <label class="fr-label" for="radio-gbcp">Non</label>
                  </div>
                </div>
              </fieldset>

              <fieldset class="fr-fieldset" >
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w">
                  Présence d'un agent comptable
                </legend>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                  <div class="fr-radio-group">
                    <%= f.radio_button :agent_comptable_present, true, id: "radio-agent-1", checked: @organisme.agent_comptable_present%>
                    <label class="fr-label" for="radio-agent-1">Oui</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0" >
                  <div class="fr-radio-group" disabled>
                    <%= f.radio_button :agent_comptable_present, false, checked: @organisme.agent_comptable_present == false, id:"radio-agent" %>
                    <label class="fr-label" for="radio-agent">Non</label>
                  </div>
                </div>
              </fieldset>

              <div class="fr-select-group">
                <label for="degre_gbcp" class="fr-label">Champ d'application du décret GBCP<span class="fr-hint-text"> Appartenance aux bulles de l’article 1er du GBCP à retrouver sur https://www.legifrance.gouv.fr/loda/id/JORFTEXT000026597003 </span></label>
                <%= f.select :degre_gbcp,[["- sélectionner -",""],['3°','3°'],['4°','4°'],["5°",'5°'],["6°",'6°'],["Exclusion",'Exclusion']],{selected: @organisme.degre_gbcp}, {id:"degre_gbcp",class:"fr-select"}%>
              </div>

              <fieldset class="fr-fieldset">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w">
                  Partie III GBCP*
                </legend>

                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                  <div class="fr-radio-group">
                    <%= f.radio_button :gbcp_3, true, id: "radio-gbcp-3", checked: @organisme.gbcp_3, data: {'form-target': 'checkRequire', action: "change->form#ChangeGBCP3" }   %>
                    <label class="fr-label" for="radio-gbcp-3">Oui</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                  <div class="fr-radio-group">
                    <%= f.radio_button :gbcp_3, false, checked: @organisme.gbcp_3 == false, id:"radio-gbcp-3N", data: {'form-target': 'checkRequire', action: "change->form#ChangeGBCP3" }  %>
                    <label class="fr-label" for="radio-gbcp-3N">Non</label>
                  </div>
                </div>
              </fieldset>

              <fieldset class="fr-fieldset">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
                  Comptabilité budgétaire*
                </legend>

                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                  <div class="fr-radio-group">
                    <%= f.radio_button :comptabilite_budgetaire, "oui", id: "radio-compta-1", checked: @organisme.comptabilite_budgetaire == "oui", data: {'form-target': 'checkRequire'}  %>
                    <label class="fr-label" for="radio-compta-1">Oui</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                  <div class="fr-radio-group">
                    <%= f.radio_button :comptabilite_budgetaire, "Oui mais adapté", checked: @organisme.comptabilite_budgetaire == "Oui mais adapté", id:"radio-compta-b", data: {'form-target': 'checkRequire'} %>
                    <label class="fr-label" for="radio-compta-b">Oui mais adapté</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                  <div class="fr-radio-group">
                    <%= f.radio_button :comptabilite_budgetaire, "non", checked: @organisme.comptabilite_budgetaire == "non", id:"radio-compta", data: {'form-target': 'checkRequire'} %>
                    <label class="fr-label" for="radio-compta">Non</label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="fr-my-4w">
            <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
              <li>
                <% if @organisme.statut == 'valide' %>
                  <%=link_to organisme_path(@organisme), class: "fr-btn fr-btn--secondary" do %>Annuler<%end %>
                <%else %>
                  <%=link_to edit_organisme_path(@organisme, step: 1), class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line" do %>
                    Étape précédente
                  <%end %>
                <%end %>
              </li>
              <li>
                <%= f.submit("#{@organisme.statut != 'valide' ? 'Valider et passer à l\'étape suivante' : 'Valider'}", class: "fr-btn", data: {'form-target': "submitBouton"}, aria: { label: "Valider"}, disabled: true) %>
              </li>
            </ul>
          </div>
      <%end %>
      </div>
    </div>
  </div>
</div>