<% if @organisme.statut != "valide" %>
  <h1 class="fr-my-4w">Création d'un organisme</h1>
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">
      <span class="fr-stepper__state">Étape 5 sur 6</span>
      Gouvernance DB
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="5" data-fr-steps="6"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Catégories
    </p>
  </div>
<%else %>
  <nav role="navigation" class="fr-breadcrumb fr-my-3w" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to root_path, class:"fr-breadcrumb__link" do %>Accueil<%end %>
        </li>
        <li>
          <%= link_to organismes_path, class:"fr-breadcrumb__link" do %>Liste des organismes<%end %>
        </li>
        <li>
          <%= link_to organisme_path(@organisme), class:"fr-breadcrumb__link" do %><%= @organisme.nom %><%end %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Modification gouvernance DB</a>
        </li>
      </ol>
    </div>
  </nav>
  <h1 class="fr-mb-4w">Modification gouvernance DB</h1>
<%end %>
<div class="fr-mb-6w">
  <div class="fr-card fr-card--no-arrow">
    <div class="fr-card__body" data-controller="form">
      <div class="fr-card__content">
      <%= form_with(model: @organisme, data: {'form-target': "form"}) do |f|%>
        <% if @organisme.statut != "valide" %>
          <%= f.hidden_field :statut, value: "5" %>
        <%end %>

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <fieldset class="fr-fieldset">
              <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id='radio-inline-legend'>
                Administrateur DB au sein de l’organe de gouvernance <button class="fr-btn--tooltip fr-btn" id="button-2995" aria-describedby="tooltip-2994" data-action="form#Dropdown">
                Information contextuelle
              </button>
                <span class="fr-tooltip fr-placement" id="tooltip-2994" role="tooltip" aria-hidden="true">La composition de l'instance de gouvernance est fixée par le texte statutaire de l'organisme. La représentation de la DB peut-être assurée par un contrôleur.</span>
              </legend>

              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :admin_db_present, true, id: "radio-admin-1", checked: @organisme.admin_db_present == true, data: {action: "change->form#ChangeAdmin" } %>
                  <label class="fr-label" for="radio-admin-1">Oui</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :admin_db_present, false, checked: @organisme.admin_db_present == false, id:"radio-admin-b", data: {action: "change->form#ChangeAdmin" }  %>
                  <label class="fr-label" for="radio-admin-b">Non</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :admin_db_present, "", checked: @organisme.admin_db_present.nil? , id:"radio-admin", data: {action: "change->form#ChangeAdmin" }  %>
                  <label class="fr-label" for="radio-admin">Non renseigné</label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="fr-col-12 fr-col-lg-4">
            <div class="fr-select-group">
              <label for="admin_db_fonction" class="fr-label">Fonction de l’administrateur DB <button class="fr-btn--tooltip fr-btn" id="button-2996" aria-describedby="tooltip-2995" data-action="form#Dropdown">
                Information contextuelle
              </button>
                <span class="fr-tooltip fr-placement" id="tooltip-2995" role="tooltip" aria-hidden="true">Ne pas donner l’identité mais uniquement la fonction de l’administrateur </span></label>
              <%= f.select :admin_db_fonction,options_for_select([["- sélectionner -", ""]] + @liste_fonctions_admin_db.map { |nom| [nom, nom] }, selected: @organisme.admin_db_fonction),{}, {id:"admin_db_fonction", class:"fr-input"}%>
            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <fieldset class="fr-fieldset">
              <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id='radio-inline-legend'>
                Présence DB au pré-CA <button class="fr-btn--tooltip fr-btn" id="button-2997" aria-describedby="tooltip-2996" data-action="form#Dropdown">
                Information contextuelle
              </button>
                <span class="fr-tooltip fr-placement" id="tooltip-2996" role="tooltip" aria-hidden="true">Au pré-CA ou à tout autre organe délibérant (Assemblée Générale)</span>
              </legend>

              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :admin_preca, true, id: "radio-admin-preca-1", checked: @organisme.admin_preca == true%>
                  <label class="fr-label" for="radio-admin-preca-1">Oui</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :admin_preca, false, checked: @organisme.admin_preca == false, id:"radio-admin-preca-b" %>
                  <label class="fr-label" for="radio-admin-preca-b">Non</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :admin_preca, "", checked: @organisme.admin_preca.nil? , id:"radio-admin-preca" %>
                  <label class="fr-label" for="radio-admin-preca">Non renseigné</label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <fieldset class="fr-fieldset">
              <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id='radio-inline-legend'>
                Présence contrôleur au Pré-CA<button class="fr-btn--tooltip fr-btn" id="button-2998" aria-describedby="tooltip-2997" data-action="form#Dropdown">
                Information contextuelle
              </button>
                <span class="fr-tooltip fr-placement" id="tooltip-2997" role="tooltip" aria-hidden="true">Au pré-CA ou à tout autre organe délibérant (Assemblée Générale)</span>
              </legend>

              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :controleur_preca, true, id: "radio-controleur-preca-1", checked: @organisme.controleur_preca == true%>
                  <label class="fr-label" for="radio-controleur-preca-1">Oui</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :controleur_preca, false, checked: @organisme.controleur_preca == false, id:"radio-controleur-preca-b" %>
                  <label class="fr-label" for="radio-controleur-preca-b">Non</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :controleur_preca, "", checked: @organisme.controleur_preca.nil? , id:"radio-controleur-preca" %>
                  <label class="fr-label" for="radio-controleur-preca">Non renseigné</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <fieldset class="fr-fieldset">
              <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id='radio-inline-legend'>
                Présence contrôleur au CA<button class="fr-btn--tooltip fr-btn" id="button-2999" aria-describedby="tooltip-2998" data-action="form#Dropdown">
                Information contextuelle
              </button>
                <span class="fr-tooltip fr-placement" id="tooltip-2998" role="tooltip" aria-hidden="true">Au CA ou à tout autre organe délibérant (Assemblée Générale)</span>
              </legend>

              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :controleur_ca, true, id: "radio-controleur-ca-1", checked: @organisme.controleur_ca == true%>
                  <label class="fr-label" for="radio-controleur-ca-1">Oui</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :controleur_ca, false, checked: @organisme.controleur_ca == false, id:"radio-controleur-ca-b" %>
                  <label class="fr-label" for="radio-controleur-ca-b">Non</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :controleur_ca, "", checked: @organisme.controleur_ca.nil? , id:"radio-controleur-ca" %>
                  <label class="fr-label" for="radio-controleur-ca">Non renseigné</label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <fieldset class="fr-fieldset">
              <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id='radio-inline-legend'>
                Existence d’un comité d’audit et des risques
              </legend>

              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :comite_audit, true, id: "radio-audit-1", checked: @organisme.comite_audit == true%>
                  <label class="fr-label" for="radio-audit-1">Oui</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :comite_audit, false, checked: @organisme.comite_audit == false, id:"radio-audit-b" %>
                  <label class="fr-label" for="radio-audit-b">Non</label>
                </div>
              </div>
              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group">
                  <%= f.radio_button :comite_audit, "", checked: @organisme.comite_audit.nil? , id:"radio-audit" %>
                  <label class="fr-label" for="radio-audit">Non renseigné</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="fr-my-4w">
          <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
            <li>
              <% if @organisme.statut == 'valide' %>
                <%=link_to organisme_path(@organisme), class: "fr-btn fr-btn--secondary" do %>Annuler<%end %>
              <%else %>
                <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line"  data-fr-opened="false" aria-controls="fr-modal-1" data-action="form#Dropdown">
                  Étape précédente
                </button>
              <%end %>
            </li>
            <li>
              <%= f.submit("#{@est_controleur ? 'Soumettre' : @organisme.statut != 'valide' ? 'Valider et passer à l\'étape suivante' : 'Valider' }", class: "fr-btn", data: {'form-target': "submitBouton"}, aria: { label: "Valider"}) %>
            </li>
          </ul></div>
      <%end %>
      </div>
    </div>
  </div>
</div>

<dialog id="fr-modal-1" class="fr-modal">
  <%= render partial: 'organismes/modal_retour',locals: {step: 4} %>
</dialog>