<% if @organisme.statut != "valide" %>
  <h1 class="fr-my-4w">Création d'un organisme</h1>
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">
      <span class="fr-stepper__state">Étape 2 sur 6</span>
      Régime budgétaire et comptable
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="6"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Contrôle
    </p>
  </div>
<%else %>
  <nav role="navigation" class="fr-breadcrumb fr-my-3w" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to root_path, class:"fr-breadcrumb__link" do %>Accueil<%end %>
        </li>
        <li>
          <%= link_to organismes_path, class:"fr-breadcrumb__link" do %>Liste des organismes<%end %>
        </li>
        <li>
          <%= link_to organisme_path(@organisme), class:"fr-breadcrumb__link" do %><%= @organisme.nom %><%end %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Modification régime budgétaire et comptable</a>
        </li>
      </ol>
    </div>
  </nav>
  <h1 class="fr-mb-4w">Modification régime budgétaire et comptable</h1>
<%end %>
<div class="fr-mb-6w">
  <div class="fr-card fr-card--no-arrow">
    <div class="fr-card__body" data-controller="form">
      <div class="fr-card__content">
      <%= form_with(model: @organisme, data: {'form-target': "form", action: "change->form#validateForm turbo:before-fetch-request->form#submitForm"}) do |f|%>
        <% if @organisme.statut != "valide" %>
          <%= f.hidden_field :statut, value: "2" %>
        <%end %>
          <%= render 'organismes/form_notice' %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-5">
              <fieldset class="fr-fieldset ">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend">
                  Partie I GBCP* <%= render partial: "organismes/tooltip", locals: {num_id: "gbcp_1"} %>
                </legend>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group">
                      <%= f.radio_button :gbcp_1, true, id: "radio-gbcp-1", checked: @organisme.gbcp_1, data: {'form-target': 'checkRequire', action: "change->form#ChangeGBCP1"}  %>
                    <label class="fr-label" for="radio-gbcp-1">Oui</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group">
                    <%= f.radio_button :gbcp_1, false, checked: @organisme.gbcp_1 == false, id:"radio-gbcp", data: {'form-target': 'checkRequire', action: "change->form#ChangeGBCP1" } %>
                    <label class="fr-label" for="radio-gbcp">Non</label>
                  </div>
                </div>
              </fieldset>

              <fieldset class="fr-fieldset" >
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend">
                  Présence d'un agent comptable
                </legend>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group">
                    <%= f.radio_button :agent_comptable_present, true, id: "radio-agent-1", checked: @organisme.agent_comptable_present%>
                    <label class="fr-label" for="radio-agent-1">Oui</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline" >
                  <div class="fr-radio-group">
                    <%= f.radio_button :agent_comptable_present, false, checked: @organisme.agent_comptable_present == false, id:"radio-agent" %>
                    <label class="fr-label" for="radio-agent">Non</label>
                  </div>
                </div>
              </fieldset>

              <div class="fr-select-group">
                <label for="degre_gbcp" class="fr-label">Champ d'application du décret GBCP <%= render partial: "organismes/tooltip", locals: {num_id: "degre_gbcp"} %></label>
                <%= f.select :degre_gbcp,[["- sélectionner -",""],['3° Etablissements publics de santé / GCS','3° Etablissements publics de santé / GCS'],['4° Autres personnes morales de droit public (cf. arrêté)','4° Autres personnes morales de droit public (cf. arrêté)'],["5° Personnes morales de droit privé",'5° Personnes morales de droit privé'],["6° Personnes morales de droit public hors APU",'6° Personnes morales de droit public hors APU']],{selected: @organisme.degre_gbcp}, {id:"degre_gbcp",class:"fr-select"}%>
              </div>

              <fieldset class="fr-fieldset">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend">
                  Partie III GBCP*
                </legend>

                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group">
                    <%= f.radio_button :gbcp_3, true, id: "radio-gbcp-3", checked: @organisme.gbcp_3, data: {'form-target': 'checkRequire', action: "change->form#ChangeGBCP3" }   %>
                    <label class="fr-label" for="radio-gbcp-3">Oui</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group">
                    <%= f.radio_button :gbcp_3, false, checked: @organisme.gbcp_3 == false, id:"radio-gbcp-3N", data: {'form-target': 'checkRequire', action: "change->form#ChangeGBCP3" }  %>
                    <label class="fr-label" for="radio-gbcp-3N">Non</label>
                  </div>
                </div>
              </fieldset>

              <fieldset class="fr-fieldset">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
                  Comptabilité budgétaire* <%= render partial: "organismes/tooltip", locals: {num_id: "comptabilite_budgetaire"} %>
                </legend>

                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group">
                    <%= f.radio_button :comptabilite_budgetaire, "Oui", id: "radio-compta-1", checked: @organisme.comptabilite_budgetaire == "Oui", data: {'form-target': 'checkRequire'}  %>
                    <label class="fr-label" for="radio-compta-1">Oui</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group">
                    <%= f.radio_button :comptabilite_budgetaire, "Non", checked: @organisme.comptabilite_budgetaire == "Non", id:"radio-compta", data: {'form-target': 'checkRequire'} %>
                    <label class="fr-label" for="radio-compta">Non</label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="fr-col-12 fr-col-lg-7">
              <div class="fr-mb-2w fr-text--italic">Informations sur les champs d’application du décret GBCP :</div>
              <div class="fr-mb-2w fr-text--italic">3° Les établissements publics de santé ainsi que, lorsqu'ils sont constitués sous forme de personnes morales de droit public, les groupements de coopération sanitaire et les groupements de coopération sociale ou médico-sociale ;</div>
              <div class="fr-mb-2w fr-text--italic">4° Les autres personnes morales de droit public, dont la liste est établie par arrêté conjoint du ministre chargé de l'économie et du ministre chargé du budget ;</div>
              <div class="fr-mb-2w fr-text--italic">5° Après avis conforme du ministre chargé du budget et lorsque leurs statuts le prévoient, les personnes morales de droit privé ;</div>
              <div class="fr-mb-2w fr-text--italic">6° Les personnes morales de droit public ne relevant pas de la catégorie des administrations publiques, sauf si leurs statuts en disposent autrement ;</div>
              <div class="fr-mb-2w fr-text--italic">Ces dispositions s'appliquent aux groupements d'intérêt public lorsqu'ils sont soumis aux règles de la comptabilité publique dans les conditions prévues par l'article 112 de la loi du 17 mai 2011 visée ci-dessus. </div>
            </div>
          </div>

          <div class="fr-my-4w">
            <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
              <li>
                <% if @organisme.statut == 'valide' %>
                  <%=link_to organisme_path(@organisme), class: "fr-btn fr-btn--secondary" do %>Annuler<%end %>
                <%else %>
                  <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line"  data-fr-opened="false" aria-controls="fr-modal-1" data-action="form#Dropdown">
                    Étape précédente
                  </button>
                <%end %>
              </li>
              <li>
                <%= f.submit("#{@est_controleur ? 'Soumettre' : @organisme.statut != 'valide' ? 'Valider et passer à l\'étape suivante' : 'Valider'}", class: "fr-btn", data: {'form-target': "submitBouton"}, aria: { label: "Valider"}) %>
              </li>
            </ul>
          </div>
      <%end %>
      </div>
    </div>
  </div>
</div>

<dialog id="fr-modal-1" class="fr-modal">
    <%= render partial: 'organismes/modal_retour',locals: {step: 1} %>
</dialog>