<h2 class="fr-h3"><%= pluralize(organisms_all&.length, 'résultat', plural: 'résultats')%>
  <div class="fr-download">
    <p><%= link_to export_to_excel_path(ids: organisms_all.map(&:id), format: 'xlsx'), class: "fr-link fr-download__link" do %>Télécharger les fiches d'identité <span class="fr-download__detail">Format .xlsx</span><%end %></p>
  </div>
</h2>

<% organisms_page.each do |organisme|%>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col-6 fr-col-lg-12">
      <div class="<% if organisme.statut != "valide" %>fr-badge-group<%end %>">
        <ul>
          <li><%= link_to organisme_path(organisme.id) do%><%= organisme.nom %><% if organisme.acronyme && !organisme.acronyme.blank? %> - <%= organisme.acronyme %><%end %><%end %></li>
        </ul>
        <% if organisme.statut != "valide" %>
          <p class="fr-badge fr-badge--yellow-moutarde fr-ml-2w">Etape <%= organisme.statut %>/6</p>
        <% end %>
      </div>
      <% if organisme.statut == "valide" %>
        <div><ul class="fr-tags-group">
          <li>
            <p class="fr-tag fr-tag--sm <% if organisme.etat == 'Actif'%>fr-tag--green-menthe<%elsif organisme.etat == 'En cours de création'%>fr-tag--warning<%end %>"><%= organisme.etat %></p>
          </li>
          <li>
            <p class="fr-tag fr-tag--sm">Famille : <%= organisme.famille %></p>
          </li>
          <li>
            <p class="fr-tag fr-tag--sm">Nature : <%= organisme.nature %></p>
          </li>
          <li>
            <p class="fr-tag fr-tag--sm">Contrôleur : <%= organisme.controleur.nom %></p>
          </li>
        </ul></div>
      <% else %>
        <div class="fr-mb-2w">
          <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--sm">
            <li><%= link_to edit_organisme_path(organisme.id), class: "fr-btn fr-my-0 fr-btn--sm" do%>Reprendre le brouillon<%end %></li>
            <li><%= link_to organisme_path(organisme.id),data: { "turbo-method": :delete}, class: "fr-btn fr-btn--secondary fr-btn--sm fr-my-0" do%>Supprimer<%end %></li>
          </ul>
        </div>
      <% end  %>
    </div>
  </div>
  <hr class="fr-hr fr-py-1w"/>
<%end %>
<%== pagy_nav(pagy) %>
<%== pagy_nav_custom(pagy) %>