<% content_for :title do %>Liste des organismes | OPERA <% end %>
<main role="main" class="containtAll">
  <div class="fr-container ">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-my-4w">Liste des organismes </h1>
      </div>
    </div>

    <h2 class="fr-h4 fr-my-0w">Mon périmètre [<%= @controlled_organisms&.length %>]</h2>
    <div class="fr-grid-row fr-grid-row--gutters">
      <% class_card = %w[fr-card--green-menthe fr-card--orange fr-card--grey fr-card--yellow-moutarde] %>
      <% box_title_strings = {
        '2B2O' => ["actifs", "soumis au décret GBCP Titre III (actifs)","en comptabilité budgétaire (actifs)", "en hors comptabilité budgétaire (actifs)"],
        'Controleur' => ["opérateurs de l’Etat (actifs)", "en Contrôle Budgétaire  (actifs)","en Contrôle Economique et Financier (actifs)", " en Contrôle Budgétaire EPSCP (actifs)"],
        'Bureau Sectoriel' => ["opérateurs de l’Etat (actifs)", "controlés (actifs)","en comptabilité budgétaire (actifs)", "sous Tutelle financière MCP (actifs)"]
      } %>
      <% box_title_strings[@statut_user].each_with_index do |title, i| %>
      <div class="fr-col-12 fr-col-lg-3">
        <div class="fr-card <%= class_card[i] %> fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-text--lg fr-text--bold fr-mb-0 fr-text--center"><%= pluralize(@organisms_counts_by_repartition[i] ,'Organisme', plural: 'Organismes') %></p>
            <p class="fr-text--sm fr-mb-0 fr-text--center"><%= title %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <h2 class="fr-h3 fr-my-4w">Liste des organismes périmètre étendu  [<%= @extended_family_organisms&.length %>]</h2>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-12 fr-col-lg-9">
      <%= render 'organismes/form_search' %>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w" data-controller="request">
      <div class="fr-col-12 fr-col-lg-4">
        <nav role="navigation" class="fr-sidemenu fr-sidemenu--sticky-full-height fr-mb-0-5v">
          <div class="fr-sidemenu__inner">
            <div class="fr-sidemenu__title">Affiner la recherche</div>
            <% if params %><div class="fr-mb-2w"><%= link_to organismes_path, class:"fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-right fr-icon-refresh-line" do %>Réinitialiser les filtres<%end %></div><%end %>
            <%= search_form_for @q, data: {'request-target': 'form', turbo_frame: 'results', turbo_action: 'advance'} do |f| %>

              <div class="fr-label fr-text--bold">État</div>
              <ul class="fr-tags-group fr-mt-1w">
                <% ["Actif", "Inactif", "En cours de création"].each do |etat| %>
                  <li><button class="fr-tag" data-action="click->request#checkTag" aria-pressed="<%= params[:q] && params[:q][:etat_in].present? && params[:q][:etat_in].include?(etat) ? 'true' : 'false' %>"><label><%= check_box_tag('q[etat_in][]', etat, params[:q] && params[:q][:etat_in].present? && params[:q][:etat_in].include?(etat) ? true : false, {class: "fr-hidden"}) %><%= etat %></label></button></li>
                <% end %>
                <% if @statut_user == '2B2O' %>
                  <li><button class="fr-tag" data-action="click->request#checkTag" aria-pressed="<%= params[:q] &&  params[:q][:statut_not_eq].present? ? 'true' : 'false' %>"><label><%= check_box_tag('q[statut_not_eq]', 'valide', params[:q] && params[:q][:statut_not_eq].present? ? true : false, {class: "fr-hidden"}) %>Brouillon</label></button></li>
                <% end %>
              </ul>

              <div class="fr-select-group">
                <label for="famille_list" class="fr-label fr-text--bold">Famille</label>
                <select id="famille_list" class="fr-select" data-tag='famille_tag' data-action='change->request#addTagSelected'>
                  <option value="">- sélectionner -</option>
                  <% @liste_familles.each do |famille| %>
                    <option value="<%= famille %>"><%= famille %></option>
                  <% end %>
                </select>
              </div>
              <ul class="fr-tags-group" id="famille_tag">
                <% @liste_familles.each do |famille|%>
                  <%= check_box_tag('q[famille_in][]', famille, params[:q] && params[:q][:famille_in].present? && params[:q][:famille_in].include?(famille) ? true : false, {class: "fr-hidden"}) %>
                <% end %>
                <% if params[:q] && params[:q][:famille_in] %>
                  <% params[:q][:famille_in].each do |famille| %>
                    <li data-action="click->request#removeTagSelected" data-value="<%=famille %>"><button class="fr-tag fr-tag--dismiss" aria-label="Retirer"><%=famille %></button></li>
                  <% end %>
                <% end %>
              </ul>

              <div class="fr-select-group">
                <label for="nature_list" class="fr-label fr-text--bold">Nature</label>
                <select id="nature_list" class="fr-select" data-tag='nature_tag' data-action='change->request#addTagSelected'>
                  <option value="">- sélectionner -</option>
                  <% @liste_natures.each do |nature| %>
                    <option value="<%= nature %>"><%= nature %></option>
                  <% end %>
                </select>
              </div>
              <ul class="fr-tags-group" id="nature_tag">
                <% @liste_natures.each do |nature|%>
                  <%= check_box_tag('q[nature_in][]', nature, params[:q] && params[:q][:nature_in].present? && params[:q][:nature_in].include?(nature) ? true : false, {class: "fr-hidden"}) %>
                <% end %>
                <% if params[:q] && params[:q][:nature_in] %>
                  <% params[:q][:nature_in].each do |nature| %>
                    <li data-action="click->request#removeTagSelected" data-value="<%=nature %>"><button class="fr-tag fr-tag--dismiss" aria-label="Retirer"><%=nature %></button></li>
                  <% end %>
                <% end %>
              </ul>

              <div class="fr-label fr-text--bold">Opérateur</div>
              <ul class="fr-tags-group fr-mt-1w">
                <li><button class="fr-tag" data-action="click->request#checkTag" aria-pressed="<%= params[:q] && params[:q][:operateur_operateur_n_in].present? && params[:q][:operateur_operateur_n_in].include?(true) ? 'true' : 'false' %>"><label><%= check_box_tag('q[operateur_operateur_n_in][]', true, params[:q] && params[:q][:operateur_operateur_n_in].present? && params[:q][:operateur_operateur_n_in].include?(true) ? true : false, {class: "fr-hidden"}) %>Oui</label></button></li>
                <li><button class="fr-tag" data-action="click->request#checkTag" aria-pressed="<%= params[:q] && params[:q][:operateur_operateur_n_not_in].present? && params[:q][:operateur_operateur_n_not_in].include?(true) ? 'true' : 'false' %>"><label><%= check_box_tag('q[operateur_operateur_n_not_in][]', true, params[:q] && params[:q][:operateur_operateur_n_not_in].present? && params[:q][:operateur_operateur_n_not_in].include?(true) ? true : false, {class: "fr-hidden"}) %>Non</label></button></li>
              </ul>

              <div class="fr-select-group">
                <label for="controleur_list" class="fr-label fr-text--bold">Contrôleur</label>
                <select id="controleur_list" class="fr-select" data-tag='controleur_tag' data-action='change->request#addTagSelected'>
                  <option value="">- sélectionner -</option>
                  <% @controleur_name_list.each do |nom| %>
                    <option value="<%= nom%>"><%= nom %></option>
                  <% end %>
                </select>
              </div>
              <ul class="fr-tags-group" id="controleur_tag">
                <% @controleur_name_list.each do |nom|%>
                  <%= check_box_tag('q[controleur_nom_in][]', nom, params[:q] && params[:q][:controleur_nom_in].present? && params[:q][:controleur_nom_in].include?(nom) ? true : false, {class: "fr-hidden"}) %>
                <% end %>
                <% if params[:q] && params[:q][:controleur_nom_in] %>
                  <% params[:q][:controleur_nom_in].each do |nom| %>
                    <li data-action="click->request#removeTagSelected" data-value="<%=nom %>"><button class="fr-tag fr-tag--dismiss" aria-label="Retirer"><%=nom %></button></li>
                  <% end %>
                <% end %>
              </ul>

              <div class="fr-label fr-text--bold">Nature contrôle</div>
              <ul class="fr-tags-group fr-mt-1w">
                <% ["Contrôle Economique et Financier", "Contrôle Budgétaire", "Contrôle Budgétaire EPSCP", "Autre"].each do |nature_controle| %>
                  <li><button class="fr-tag" data-action="click->request#checkTag" aria-pressed="<%= params[:q] && params[:q][:nature_controle_in].present? && params[:q][:nature_controle_in].include?(nature_controle) ? 'true' : 'false' %>"><label><%= check_box_tag('q[nature_controle_in][]', nature_controle, params[:q] && params[:q][:nature_controle_in].present? && params[:q][:nature_controle_in].include?(nature_controle) ? true : false, {class: "fr-hidden"}) %><%= nature_controle %></label></button></li>
                <% end %>
              </ul>
            <% end %>


          </div>
        </nav>
      </div>
      <div class="fr-col-12 fr-col-lg-8">
        <%= turbo_frame_tag :results, target: "_top" do %>
          <h2 class="fr-h3"><%= pluralize(@extended_family_organisms&.length, 'résultat', plural: 'résultats')%>
            <div class="fr-download">
              <p><%= link_to organismes_path(ids: @extended_family_organisms.pluck(:id),format: 'xlsx'), class: "fr-link fr-download__link" do %>Télécharger les fiches d'identité <span class="fr-download__detail">Format .xlsx</span><%end %></p>
            </div>
          </h2>

          <% @organisms_page.each do |organisme|%>
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
              <div class="fr-col-6 fr-col-lg-12">
                <div class="<% if organisme.statut != "valide" %>fr-badge-group<%end %>">
                  <ul>
                    <li><%= link_to organisme_path(organisme.id) do%><%= organisme.nom %><% if organisme.acronyme && !organisme.acronyme.blank? %> - <%= organisme.acronyme %><%end %><%end %></li>
                  </ul>
                  <% if organisme.statut != "valide" %>
                    <p class="fr-badge fr-badge--yellow-moutarde fr-ml-2w">Etape <%= organisme.statut %>/6</p>
                  <% end %>
                </div>
                <% if organisme.statut == "valide" %>
                  <div><ul class="fr-tags-group">
                    <li>
                      <p class="fr-tag fr-tag--sm <% if organisme.etat == 'Actif'%>fr-tag--green-menthe<%elsif organisme.etat == 'En cours de création'%>fr-tag--warning<%end %>"><%= organisme.etat %></p>
                    </li>
                    <li>
                      <p class="fr-tag fr-tag--sm">Famille : <%= organisme.famille %></p>
                    </li>
                    <li>
                      <p class="fr-tag fr-tag--sm">Nature : <%= organisme.nature %></p>
                    </li>
                    <li>
                      <p class="fr-tag fr-tag--sm">Contrôleur : <%= organisme.controleur.nom %></p>
                    </li>
                  </ul></div>
                <% else %>
                  <div class="fr-mb-2w">
                    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--sm">
                      <li><%= link_to edit_organisme_path(organisme.id), class: "fr-btn fr-my-0 fr-btn--sm" do%>Reprendre le brouillon<%end %></li>
                      <li><%= link_to organisme_path(organisme.id),data: { "turbo-method": :delete}, class: "fr-btn fr-btn--secondary fr-btn--sm fr-my-0" do%>Supprimer<%end %></li>
                    </ul>
                  </div>
                <% end  %>
              </div>
            </div>
            <hr class="fr-hr fr-py-1w"/>
          <%end %>

          <div class="fr-my-2w">
            <%== pagy_nav_custom(@pagy) %>
          </div>

        <% end %>
      </div>
    </div>



  </div>
</main>

