<main role="main" class="containtAll">
  <div class="fr-container fr-mt-7w">
    <div class="fr-col-lg-10 fr-col-offset-lg-1">
      <h1>Ajouter un nouveau document</h1>
      <div>
        <%= form_tag import_organismes_path, multipart: true do %>
          <div class="fr-upload-group">
            <label class="fr-label" for="file-upload">Ajouter des fichiers
              <span class="fr-hint-text">Taille maximale : 50 Mo. Formats supportés : xlsx. </span>
            </label>
            <%= file_field_tag  :file, accept: '.xlsx', class: "fr-upload", id: "file-upload" %>
          </div>
          <div class="fr-my-4w"><%= submit_tag "Transmettre", class:"fr-btn" %></div>
        <% end %>
      </div>
      <div class="fr-my-4w"><%= @organismes_noms.length %> organismes : <%= @organismes_noms %></div>

      <div class="fr-table fr-table--bordered">
        <table>
          <caption>Résumé du tableau (accessibilité)</caption>
          <thead>
          <tr>
            <% Organisme.column_names.each do |column_name| %>
            <th scope="col"><%= column_name %></th>
            <%end %>
          </tr>
          </thead>
          <tbody>
          <% Organisme.all.each do |organisme|%>
          <tr>
            <% Organisme.column_names.each do |column_name| %>
            <td><%= organisme[column_name] %></td>
            <% end %>
          </tr>
          <%end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

