<% content_for :title do %>Liste des organismes | OPERA <% end %>
<main role="main" class="containtAll">
  <div class="fr-container ">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-my-4w">Liste des organismes </h1>
      </div>
    </div>
    <div>
      <%= render 'organismes/form_search' %>
    </div>


    <div class="fr-grid-row fr-grid-row--gutters">
      <% class_card = ["fr-card--green-menthe", "fr-card--orange", "fr-card--grey", "fr-card--yellow-moutarde"] %>
      <% @array_title.each_with_index do |title,i| %>
      <div class="fr-col-12 fr-col-lg-3">
        <div class="fr-card <%= class_card[i] %> fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-text--lg fr-text--bold fr-mb-0 fr-text--center"><%= pluralize(@repartition_organismes[i] ,'Organisme', plural: 'Organismes') %></p>
            <p class="fr-text--sm fr-mb-0 fr-text--center"><%= title %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-my-4w">
      <div class="fr-col-12 fr-col-lg-4">
        <nav role="navigation" class="fr-sidemenu fr-sidemenu--sticky-full-height fr-mb-0-5v">
          <div class="fr-sidemenu__inner" data-controller="request">
            <div class="fr-sidemenu__title">Affiner la recherche</div>

            <%= form_with(url: filter_organismes_path, method: :post, data: {'request-target': 'form'}) do |f|%>
              <%= f.hidden_field :etat, id: 'etat_field'%>
              <%= f.hidden_field :famille, id: 'famille_field'%>
              <%= f.hidden_field :nature, id: 'nature_field'%>
              <%= f.hidden_field :nature_controle, id: 'nature_controle_field'%>
              <%= f.hidden_field :operateur, id: 'operateur_field'%>
              <div class="fr-label fr-text--bold">État</div>
              <ul class="fr-tags-group fr-mt-1w">
                <% ["Actif", "Inactif", "En cours de création", "Brouillon"].each do |etat| %>
                <li>
                  <button class="fr-tag" aria-pressed="false" data-action="click->request#addTagSelected" data-field="etat_field"><%= etat %></button>
                </li>
                <% end  %>
              </ul>

              <div class="fr-select-group">
                <label for="famille_list" class="fr-label fr-text--bold">Famille</label>
                <%= select_tag :familles, options_for_select([["- sélectionner -", ""]] + @liste_familles.map { |famille| [famille, famille] }), {id:"famille_list",class:"fr-select", data: {field: 'famille_field',tag: 'famille_tag', action: 'change->request#addTagSelected'}}%>
              </div>
              <ul class="fr-tags-group" id="famille_tag"></ul>

              <div class="fr-select-group">
                <label for="nature_list" class="fr-label fr-text--bold">Nature</label>
                <%= select_tag :natures, options_for_select([["- sélectionner -", ""]] + @liste_natures.map { |nature| [nature, nature] }), {id:"nature_list",class:"fr-select", data: {field: 'nature_field',tag: 'nature_tag', action: 'change->request#addTagSelected'}}%>
              </div>
              <ul class="fr-tags-group" id="nature_tag"></ul>

              <div class="fr-label fr-text--bold">Opérateur</div>
              <ul class="fr-tags-group fr-mt-1w">
                <li>
                  <button class="fr-tag" aria-pressed="false" data-action="click->request#addTagSelected" data-field="operateur_field">Oui</button>
                </li>
              </ul>

              <div class="fr-label fr-text--bold">Nature contrôle</div>
              <ul class="fr-tags-group fr-mt-1w">
                <% ["Contrôle Economique et Financier", "Contrôle Budgétaire", "Contrôle Budgétaire EPSCP", "Autre"].each do |controle| %>
                  <li>
                    <button class="fr-tag" aria-pressed="false" data-action="click->request#addTagSelected" data-field="nature_controle_field"><%= controle %></button>
                  </li>
                <% end  %>
              </ul>
            <% end %>
          </div>
        </nav>
      </div>
      <div class="fr-col-12 fr-col-lg-8">
        <div id="liste_organismes">
        <%= render partial: 'organismes/index_liste', locals: {organismes_all: @organismes, organismes: @orga, pagy: @pagy} %>
        </div>
      </div>
    </div>



  </div>
</main>

