<h3 class="fr-h4 fr-mt-4w">Dépenses</h3>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Total des autorisations d’engagement (AE)</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_ae_total) %> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>Total des crédits de paiement (CP)</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_total) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Dont total des dépenses de personnel (AE)</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.emplois_depenses_personnel) %> €</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Dont total des dépenses de personnel (CP)</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.emplois_depenses_personnel) %> €</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses de personnel (CP)</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.emplois_depenses_personnel,chiffre.credits_cp_total-chiffre.credits_cp_investissement,100)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="options fr-hidden">
      <div>Dont total des dépenses de fonctionnement (AE)</div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_ae_fonctionnement) %> €</div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>Dont total des dépenses de fonctionnement (CP)</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_fonctionnement) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses de fonctionnement (CP)</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_cp_fonctionnement,chiffre.credits_cp_total,100)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="options fr-hidden">
      <div>Dont total des dépenses d'intervention (AE)</div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_ae_intervention) %> €</div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>Dont total des dépenses d'intervention (CP)</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_intervention) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses d'intervention (CP)</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_cp_intervention,chiffre.credits_cp_total,100)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="options fr-hidden">
      <div>Dont total des dépenses d'investissement (AE)</div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_ae_investissement) %> €</div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>Dont total des dépenses de investissement (CP)</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_investissement) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses d'investissement (CP)</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_cp_investissement,chiffre.credits_cp_total,100)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Total des crédits de paiement ouverts en N pour des opérations pluriannuelles</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_operations) %> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Poids des crédits de paiement au titre d'opérations pluriannuelles</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_cp_operations,chiffre.credits_cp_total,100)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Total des dépenses sur recettes fléchées (en CP)</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_recettes_flechees) %> €</div>
  </div>
</div>

<h3 class="fr-h4 fr-mt-4w">Recettes</h3>
<% @total_subv_etat = chiffre.credits_financements_etat_autres + chiffre.credits_financements_etat_fleches %>
<% @total_recettes_globalisees = chiffre.credits_financements_etat_autres +  chiffre.credits_fiscalite_affectee + chiffre.credits_financements_publics_autres + chiffre.credits_recettes_propres_globalisees%>
<% @total_recettes_flechees = chiffre.credits_financements_etat_fleches + chiffre.credits_financements_publics_fleches + chiffre.credits_recettes_propres_flechees %>
<% if chiffre.operateur == true %>
  <% @total_subv_etat = @total_subv_etat + chiffre.credits_subvention_sp + chiffre.credits_subvention_investissement_globalisee + chiffre.credits_subvention_investissement_flechee %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div>Subvention pour charges de service public</div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_subvention_sp) %> €</div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-mb-2w">
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-mb-0 fr-text--center">Poids de la SCSP sur recettes totales</p>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_subvention_sp,@total_recettes_globalisees + @total_recettes_flechees,1))%> %</p>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-mb-2w">
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-mb-0 fr-text--center">Taux de couverture des dépenses de personnel et de fonctionnement par de la SCSP</p>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_subvention_sp,chiffre.emplois_depenses_personnel+chiffre.credits_cp_fonctionnement,1))%> %</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div>Subvention pour charges d'investissement globalisée</div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_subvention_investissement_globalisee) %> €</div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div>Subvention pour charges d'investissement fléchée</div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_subvention_investissement_flechee) %> €</div>
    </div>
  </div>
<% end  %>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Autres financements de l’Etat</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_financements_etat_autres) %> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>Autres financements de l’Etat fléchés</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_financements_etat_fleches) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Fiscalité affectée</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_fiscalite_affectee) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Autres financements publics</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_financements_publics_autres) %> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>Autres financements publics fléchés</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_financements_publics_fleches) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Recettes propres globalisées</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_recettes_propres_globalisees) %> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>Recettes propres fléchées</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_recettes_propres_flechees) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Total des recettes globalisées</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_recettes_globalisees) %> €</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Total des recettes fléchées</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_recettes_flechees) %> €</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-12">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Total des recettes</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_recettes_globalisees + @total_recettes_flechees) %> €</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Total des recettes propres</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.credits_recettes_propres_globalisees+chiffre.credits_recettes_propres_flechees) %> €</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Taux de recettes propres</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_recettes_propres_globalisees+chiffre.credits_recettes_propres_flechees,@total_recettes_globalisees + @total_recettes_flechees,1)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Total des subventions de l’Etat</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_subv_etat) %> €</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Poids des financements de l’Etat</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(@total_subv_etat,@total_recettes_globalisees + @total_recettes_flechees,1)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Poids des recettes non fléchées</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(@total_recettes_globalisees,@total_recettes_globalisees + @total_recettes_flechees,1)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="fr-h4 fr-mt-4w">Solde budgétaire</h3>
<% @solde = @total_recettes_globalisees + @total_recettes_flechees-chiffre.credits_cp_total %>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Solde budgétaire</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@solde)%> €</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6 options fr-hidden">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Solde budgétaire résultant des opérations fléchées</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.credits_cp_recettes_flechees %><%= format_nombre(@total_recettes_flechees-chiffre.credits_cp_recettes_flechees) %><%else %>-<%end %> €</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="fr-h4 fr-mt-4w">Restes à payer</h3>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Niveau final des restes à payer</div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_restes_a_payer) %> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Variations des restes à payer</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.credits_ae_total-chiffre.credits_cp_total) %> €</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Poids des restes à payer</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_restes_a_payer,chiffre.credits_cp_total-chiffre.emplois_depenses_personnel,100)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>