<%  if chiffre %>
  <% @steps = chiffre.comptabilite_budgetaire == true ? 6 : 5 %>
  <% if chiffre.statut != "valide" %>
    <div class="fr-mb-4w title-btn">
      <p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
      <%= link_to edit_chiffre_path(chiffre), class: "fr-btn"  do %>Reprendre le brouillon<% end %>
    </div>
  <% end %>
  <div class="fr-mb-4w">
    <div>
      <% if chiffre.operateur == true %><p class="fr-badge fr-badge--info fr-badge--no-icon">Opérateur</p><% else %><p class="fr-badge fr-badge--beige-gris-galet">Non opérateur</p><% end %>
      <% if chiffre.comptabilite_budgetaire == true %><p class="fr-badge fr-badge--success fr-badge--no-icon">Comptabilité budgétaire</p><%else %><p class="fr-badge fr-badge--purple-glycine">Hors comptabilité budgétaire</p><%end %>
      <p class="fr-badge <% if chiffre.phase == 'pré-CA' %>fr-badge--brown-opera<%elsif chiffre.phase == 'CA' %>fr-badge--green-archipel<%else %>fr-badge--blue-ecume<%end %>"><%= chiffre.phase %></p>
    </div>
  </div>
  <p class="fr-my-1w">Dernières données remplies le <%= format_date(chiffre.updated_at) %> par <%= chiffre.user.nom %></p>
  <div class="fr-toggle">
    <input type="checkbox" class="fr-toggle__input" aria-describedby="toggle-698-hint-text" id="toggle-698" data-action="click->toggle#toggle">
    <label class="fr-toggle__label" for="toggle-698" >Données complètes</label>
    <p class="fr-hint-text" id="toggle-698-hint-text">Cliquez sur l’interrupteur pour afficher l’ensemble des données</p>
  </div>
  <hr class="fr-my-2w">
  <div data-tab-target="section" data-tab-value="emplois" class="fr-mb-4w">
    <h2 class="title-btn">Emplois<% if chiffre.statut == "valide" && @est_editeur %><%= link_to edit_chiffre_path(chiffre, step: 1), class: "fr-btn fr-btn--secondary" do %>Modifier<%end %><%end %></h2>
    <% if chiffre.statut == "valide" || chiffre.statut.to_i > 0 %>
      <h3 class="fr-h4">Emplois rémunérés par l’organisme</h3>
      <% if chiffre.operateur == true %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div><% if chiffre.comptabilite_budgetaire == true %>Autorisation d’emplois<%else %>Emplois<%end %> sous plafond LFI</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_plafond) %> ETPT</div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div><% if chiffre.comptabilite_budgetaire == true %>Autorisation d’emplois<%else %>Emplois<%end %> hors plafond LFI</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_hors_plafond) %> ETPT</div>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <div>
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Hors-plafond / total effectifs rémunérés par l'organisme</p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.emplois_hors_plafond*100/chiffre.emplois_total) %> %</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div class="fr-mb-2w">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Total des <% if chiffre.comptabilite_budgetaire == true %>autorisations d'emplois<%else %>emplois<%end %> rémunérés par l'organisme</p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.emplois_total) %> ETPT</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%else %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div>Total des <% if chiffre.comptabilite_budgetaire == true %>autorisations d'emplois<%else %>emplois<%end %> rémunérés par l'organisme</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_total) %> ETPT</div>
          </div>
        </div>
      <% end %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <% if chiffre.comptabilite_budgetaire == true %>
            <div>Total des dépenses de personnel</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_depenses_personnel) %> €</div>
          <%else %>
            <div>Total des charges de personnel</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_charges_personnel) %> €</div>
          <%end %>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Coût moyen par ETPT</p>
                <% if chiffre.comptabilite_budgetaire == true %>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.emplois_depenses_personnel/chiffre.emplois_total) %> €</p>
                <%else %>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.emplois_charges_personnel/chiffre.emplois_total) %> €</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if chiffre.operateur == true %>
        <h3 class="fr-h4 fr-mt-4w options fr-hidden">Rappel du plafond</h3>
        <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
          <div class="fr-col-12 fr-col-lg-12">
            <div>Rappel du plafond d'emplois inscrit en PLF / LFI</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_plafond_rappel) %> ETPT</div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
          <div class="fr-col-12 fr-col-lg-12">
            <div>Plafond d'emplois pré-notifié à l'organisme par le RPROG</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_plafond_prenotifie) %> ETPT</div>
          </div>
        </div>
        <h3 class="fr-h4 fr-mt-4w">Schéma d’emplois</h3>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-12">
            <div>Schéma d'emplois</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_schema) %> ETP</div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
          <div class="fr-col-12 fr-col-lg-12">
            <div>Schéma d'emplois pré-notifié à l'organisme par le RPROG</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_schema_prenotifie) %> ETP</div>
          </div>
        </div>
      <% end  %>
      <h3 class="fr-h4 fr-mt-4w options fr-hidden">Répartition des emplois et dépenses de personnel par statut</h3>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Total des emplois titulaires</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_titulaires) %> ETPT</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div><% if chiffre.comptabilite_budgetaire == true %>Dépenses<%else %>Charges<%end %> de personnel des emplois titulaires</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_titulaires_montant) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Coût moyen des emplois titulaires</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.emplois_titulaires_montant %><%= format_nombre_entier(chiffre.emplois_titulaires_montant/chiffre.emplois_titulaires) %><%else %>-<%end %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Total des emplois contractuels</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_contractuels) %> ETPT</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Part des contractuels dans le total des emplois rémunérés par l’organisme</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.emplois_contractuels %><%= format_nombre_entier(chiffre.emplois_contractuels*1000/chiffre.emplois_total) %><%else %>-<%end %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div><% if chiffre.comptabilite_budgetaire == true %>Dépenses<%else %>Charges<%end %> de personnel des emplois contractuels</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_contractuels_montant) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Coût moyen des emplois contractuels</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.emplois_contractuels_montant %><%= format_nombre_entier(chiffre.emplois_contractuels_montant/chiffre.emplois_contractuels) %><%else %>-<%end %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="fr-h4 fr-mt-4w">Autres emplois en fonction dans l’organisme</h3>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Emplois en fonction dans l'organisme, non rémunérés par lui - emplois T2, MAD entrantes remboursées ou non</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_non_remuneres) %> ETPT</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Emplois en fonction dans une autre entité, rémunérés par l'organisme et décomptés dans son plafond d'autorisation d'emplois - MAD sortantes</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_autre_entite) %> ETPT</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Part des personnels exerçant leurs missions dans l’organisme dans le total des emplois rémunérés directement par l’organisme</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.emplois_autre_entite %><%= format_nombre_entier((chiffre.emplois_total-chiffre.emplois_non_remuneres+chiffre.emplois_autre_entite)*100/chiffre.emplois_total) %><%else %>-<%end %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%else %>
      <p class="fr-badge fr-badge--warning">Non renseigné</p>
    <% end %>
  </div>
  <hr class="fr-my-2w">
  <div data-tab-target="section" data-tab-value="credits" class="fr-mb-4w">
    <h2 class="title-btn">Crédits <% if chiffre.statut == "valide" && @est_editeur %><%= link_to edit_chiffre_path(chiffre, step: @steps-4), class: "fr-btn fr-btn--secondary" do %>Modifier<%end %><%end %></h2>
    <% if chiffre.statut == "valide" || chiffre.statut.to_i > 1 %>
      <h3 class="fr-h4 fr-mt-4w">Dépenses</h3>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Total des autorisations d’engagement (AE)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_ae_total) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>Total des crédits de paiement (CP)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_total) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Dont total des dépenses de personnel (AE)</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.emplois_depenses_personnel) %> €</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Dont total des dépenses de personnel (CP)</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.emplois_depenses_personnel) %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses de personnel (CP)</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.emplois_depenses_personnel,chiffre.credits_cp_total-chiffre.credits_cp_investissement,100)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="options fr-hidden">
          <div>Dont total des dépenses de fonctionnement (AE)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_ae_fonctionnement) %> €</div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>Dont total des dépenses de fonctionnement (CP)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_fonctionnement) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses de fonctionnement (CP)</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_cp_fonctionnement,chiffre.credits_cp_total,100)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="options fr-hidden">
          <div>Dont total des dépenses d'intervention (AE)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_ae_intervention) %> €</div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>Dont total des dépenses d'intervention (CP)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_intervention) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses d'intervention (CP)</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_cp_intervention,chiffre.credits_cp_total,100)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="options fr-hidden">
          <div>Dont total des dépenses d'investissement (AE)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_ae_investissement) %> €</div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>Dont total des dépenses de investissement (CP)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_investissement) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses d'investissement (CP)</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_cp_investissement,chiffre.credits_cp_total,100)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Total des crédits de paiement ouverts en N pour des opérations pluriannuelles</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_operations) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids des crédits de paiement au titre d'opérations pluriannuelles</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_cp_operations,chiffre.credits_cp_total,100)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Total des dépenses sur recettes fléchées (en CP)</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_cp_recettes_flechees) %> €</div>
        </div>
      </div>

      <h3 class="fr-h4 fr-mt-4w">Recettes</h3>
      <% @total_subv_etat = chiffre.credits_financements_etat_autres + chiffre.credits_financements_etat_fleches %>
      <% @total_recettes_globalisees = chiffre.credits_financements_etat_autres +  chiffre.credits_fiscalite_affectee + chiffre.credits_financements_publics_autres + chiffre.credits_recettes_propres_globalisees%>
      <% @total_recettes_flechees = chiffre.credits_financements_etat_fleches + chiffre.credits_financements_publics_fleches + chiffre.credits_recettes_propres_flechees %>
      <% if chiffre.operateur == true %>
        <% @total_subv_etat = @total_subv_etat + chiffre.credits_subvention_sp + chiffre.credits_subvention_investissement_globalisee + chiffre.credits_subvention_investissement_flechee %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div>Subvention pour charges de service public</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_subvention_sp) %> €</div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div class="fr-mb-2w">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Poids de la SCSP sur recettes totales</p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_subvention_sp,@total_recettes_globalisees + @total_recettes_flechees,1))%> %</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <div class="fr-mb-2w">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Taux de couverture des dépenses de personnel et de fonctionnement par de la SCSP</p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_subvention_sp,chiffre.emplois_depenses_personnel+chiffre.credits_cp_fonctionnement,1))%> %</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div>Subvention pour charges d'investissement globalisée</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_subvention_investissement_globalisee) %> €</div>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <div>Subvention pour charges d'investissement fléchée</div>
            <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_subvention_investissement_flechee) %> €</div>
          </div>
        </div>
      <% end  %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Autres financements de l’Etat</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_financements_etat_autres) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>Autres financements de l’Etat fléchés</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_financements_etat_fleches) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Fiscalité affectée</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_fiscalite_affectee) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Autres financements publics</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_financements_publics_autres) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>Autres financements publics fléchés</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_financements_publics_fleches) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Recettes propres globalisées</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_recettes_propres_globalisees) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div>Recettes propres fléchées</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_recettes_propres_flechees) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Total des recettes globalisées</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_recettes_globalisees) %> €</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Total des recettes fléchées</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_recettes_flechees) %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-12">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Total des recettes</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_recettes_globalisees + @total_recettes_flechees) %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Total des recettes propres</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.credits_recettes_propres_globalisees+chiffre.credits_recettes_propres_flechees) %> €</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Taux de recettes propres</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_recettes_propres_globalisees+chiffre.credits_recettes_propres_flechees,@total_recettes_globalisees + @total_recettes_flechees,1)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Total des subventions de l’Etat</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_subv_etat) %> €</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids des financements de l’Etat</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(@total_subv_etat,@total_recettes_globalisees + @total_recettes_flechees,1)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids des recettes non fléchées</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(@total_recettes_globalisees,@total_recettes_globalisees + @total_recettes_flechees,1)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3 class="fr-h4 fr-mt-4w">Solde budgétaire</h3>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Solde budgétaire</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@total_recettes_globalisees + @total_recettes_flechees-chiffre.credits_cp_total)%> €</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6 options fr-hidden">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Solde budgétaire résultant des opérations fléchées</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.credits_cp_recettes_flechees %><%= format_nombre(@total_recettes_flechees-chiffre.credits_cp_recettes_flechees) %><%else %>-<%end %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3 class="fr-h4 fr-mt-4w">Restes à payer</h3>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Niveau final des restes à payer</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.credits_restes_a_payer) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Variations des restes à payer</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.credits_ae_total-chiffre.credits_cp_total) %> €</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids des restes à payer</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.credits_restes_a_payer,chiffre.credits_cp_total-chiffre.emplois_depenses_personnel,100)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p class="fr-badge fr-badge--warning">Non renseigné</p>
    <% end  %>
  </div>
  <hr class="fr-my-2w">
  <div data-tab-target="section" data-tab-value="comptabilite" class="fr-mb-4w">
    <h2 class="title-btn">Comptabilité générale <% if chiffre.statut == "valide" && @est_editeur %><%= link_to edit_chiffre_path(chiffre, step: @steps-3), class: "fr-btn fr-btn--secondary" do %>Modifier<%end %><%end %></h2>
    <% if chiffre.statut == "valide" || chiffre.statut.to_i > @steps-4 %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <h3 class="fr-h4">Charges</h3>
          <div>Total des charges</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont charges de personnel</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont charges de fonctionnement (autres que les charges de personnel)</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont charges d’intervention</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <h3 class="fr-h4">Produits</h3>
          <div>Total des produits</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont subventions de l’Etat</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont fiscalité affectée</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont autres subventions</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont autres produits</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-12">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Résultat</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center">€</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Charges non décaissables</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Charges décaissables</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center">€</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <h3 class="fr-h4">Emplois</h3>
          <div>Total des emplois</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont investissements</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <h3 class="fr-h4">Ressources</h3>
          <div>Total des ressources </div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont financement de l’actif par l’Etat </div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
          <div class="fr-mt-1w">Dont autres ressources</div>
          <div class="fr-text--bold fr-mt-1w"> €</div>
        </div>
      </div>
      <div class="options fr-hidden">
        <h3 class="fr-h4 fr-mt-4w">Opérations non budgétaires</h3>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div>Emprunts, Prêts, Dépôts et cautionnements (besoins)</div>
            <div class="fr-text--bold fr-mt-1w"> €</div>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <div>Emprunts, Prêts, Dépôts et cautionnements (financements)</div>
            <div class="fr-text--bold fr-mt-1w"> €</div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div>Opérations au nom et pour le compte de tiers (besoins)</div>
            <div class="fr-text--bold fr-mt-1w"> €</div>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <div>Opérations au nom et pour le compte de tiers (financements)</div>
            <div class="fr-text--bold fr-mt-1w"> €</div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div>Autres décaissements non budgétaires</div>
            <div class="fr-text--bold fr-mt-1w"> €</div>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <div>Autres encaissements non budgétaires</div>
            <div class="fr-text--bold fr-mt-1w"> €</div>
          </div>
        </div>
      </div>
    <%else %>
      <p class="fr-badge fr-badge--warning">Non renseigné</p>
    <% end %>
  </div>
  <hr class="fr-my-2w">
  <div data-tab-target="section" data-tab-value="tresorerie" class="fr-mb-4w">
    <h2 class="title-btn">Trésorerie <% if chiffre.statut == "valide" && @est_editeur %><%= link_to edit_chiffre_path(chiffre, step: @steps-2), class: "fr-btn fr-btn--secondary" do %>Modifier<%end %><%end %></h2>
    <% if chiffre.statut == "valide" || chiffre.statut.to_i > @steps-3 %>
      <% @den = (chiffre.credits_cp_total - chiffre.credits_cp_investissement)/360 %>
      <h3 class="fr-h4">Niveaux de trésorerie</h3>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Niveau final de trésorerie</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.tresorerie_finale) %> €</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Trésorerie en jours de fonctionnement</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.comptabilite_budgetaire == true %><%= format_nombre(chiffre.tresorerie_finale/@den) %><%else %>x<%end %> Jours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Taux de couverture des restes à payer par la trésorerie</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.tresorerie_finale,chiffre.credits_restes_a_payer,100)) %> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if chiffre.comptabilite_budgetaire == true  %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Niveau final de la trésorerie non fléchée</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.tresorerie_finale_non_flechee) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Poids de la trésorerie non fléchée</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(ratio(chiffre.tresorerie_finale_non_flechee,chiffre.tresorerie_finale,100))%> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Niveau final de la trésorerie fléchée</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.tresorerie_finale_flechee) %> €</div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Trésorerie non fléchée en jours de fonctionnement</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.tresorerie_finale_non_flechee/@den) %> Jours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end  %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Niveau initial de trésorerie</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.tresorerie_finale-chiffre.tresorerie_variation) %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3 class="fr-h4 fr-mt-4w">Variation</h3>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Variation de la trésorerie </div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.tresorerie_variation) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Variation de la trésorerie fléchée </div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.tresorerie_variation_flechee) %> €</div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Variation de la trésorerie non fléchée </div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.tresorerie_variation_non_flechee) %> €</div>
        </div>
      </div>
      <h3 class="fr-h4 fr-mt-4w options fr-hidden">Point haut / bas</h3>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Point le plus haut dans le plan de trésorerie </div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.tresorerie_max) %> € au mois de <%= I18n.localize(chiffre.tresorerie_max_date, format: '%B')  %></div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Niveau le plus haut de trésorerie en jours de fonctionnement</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.comptabilite_budgetaire == true %><%= format_nombre(chiffre.tresorerie_max/@den)  %><%else %>x<%end %> Jours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
        <div class="fr-col-12 fr-col-lg-6">
          <div>Point le plus bas dans le plan de trésorerie </div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.tresorerie_min) %> € au mois de <%= I18n.localize(chiffre.tresorerie_min_date, format: '%B') %></div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Niveau le plus bas de trésorerie en jours de fonctionnement</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.comptabilite_budgetaire == true %><%= format_nombre(chiffre.tresorerie_min/@den)  %><%else %>x<%end %> Jours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p class="fr-badge fr-badge--warning">Non renseigné</p>
    <% end %>
  </div>
  <hr class="fr-my-2w">
  <div data-tab-target="section" data-tab-value="analyse" class="fr-mb-4w">
    <h2 class="title-btn">Analyse financière <% if chiffre.statut == "valide" && @est_editeur %><%= link_to edit_chiffre_path(chiffre, step: @steps-1), class: "fr-btn fr-btn--secondary" do %>Modifier<%end %><%end %></h2>
    <% if chiffre.statut == "valide" || chiffre.statut.to_i > @steps-2 %>

      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
          <h3 class="fr-h4">Capacité d’autofinancement</h3>
          <div>Capacité d’autofinancement</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.capacite_autofinancement) %> €</div>
          <h3 class="fr-h4 fr-mt-4w">Fonds de roulement</h3>
          <div>Variation du fonds de roulement</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.fonds_roulement_variation) %> €</div>
          <div class="fr-mt-1w">Niveau final du fonds de roulement</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.fonds_roulement_final) %> €</div>
          <div class="options fr-hidden">
          <div class="fr-mt-1w">Niveau initial du fonds de roulement</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.fonds_roulement_inital) %> €</div>
          <div class="fr-mt-1w">Niveau initial du besoin en fonds de roulement</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.fonds_roulement_besoin_initial) %> €</div>
          <div class="fr-mt-1w">Niveau final du besoin en fonds de roulement</div>
          <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.fonds_roulement_besoin_final) %> €</div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-mb-2w">
            <div class="fr-card <% if chiffre.risque_insolvabilite == 'Situation saine' %>fr-card--vert<%elsif chiffre.risque_insolvabilite == 'Situation saine a priori mais à surveiller'%>fr-card--jaune<%elsif chiffre.risque_insolvabilite == 'Risque d’insoutenabilité à moyen terme'%>fr-card--orange<%elsif chiffre.risque_insolvabilite == 'Risque d’insoutenabilité élevé'%>fr-card--rouge<%end %> fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Examen à moyen-court termes</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= chiffre.risque_insolvabilite %></p>
              </div>
            </div>
          </div>
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Solde budgétaire</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center">€</p>
              </div>
            </div>
          </div>
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Variation de la trésorerie</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.tresorerie_variation) %> €</p>
              </div>
            </div>
          </div>
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Variation du fonds de roulement</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.fonds_roulement_variation) %> €</p>
              </div>
            </div>
          </div>
          <div class="fr-mb-2w">
            <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
              <div class="fr-cart__body">
                <p class="fr-mb-0 fr-text--center">Variation du besoin en fonds de roulement</p>
                <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.fonds_roulement_final - chiffre.tresorerie_finale) %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else  %>
      <p class="fr-badge fr-badge--warning">Non renseigné</p>
    <% end  %>
  </div>
  <hr class="fr-my-2w">
  <div data-tab-target="section" data-tab-value="commentaires" class="fr-mb-4w">
    <h2 class="title-btn">Commentaires <% if chiffre.statut == "valide" && @est_editeur %><%= link_to edit_chiffre_path(chiffre, step: @steps), class: "fr-btn fr-btn--secondary" do %>Modifier<%end %><%end %></h2>
    <% if chiffre.statut == "valide" %>
      <h3 class="fr-h4">Commentaire sur le budget</h3>
      <div><%= chiffre.commentaire %></div>
      <h3 class="fr-h4 fr-mt-4w">Autres points de vigilance</h3>
      <div><%= chiffre.commentaire_annexe %></div>
    <% else  %>
      <p class="fr-badge fr-badge--warning">Non renseigné</p>
    <% end %>
  </div>
<% else %>
  <div data-tab-target="section" data-tab-value="emplois" class="fr-mb-4w">
    <h2>Emplois</h2>
    <p class="fr-badge fr-badge--warning">Non renseigné</p>
  </div>
  <div data-tab-target="section" data-tab-value="credits" class="fr-mb-4w">
    <h2>Crédits</h2>
    <p class="fr-badge fr-badge--warning">Non renseigné</p>
  </div>
  <div data-tab-target="section" data-tab-value="comptabilite" class="fr-mb-4w">
    <h2>Comptabilité générale</h2>
    <p class="fr-badge fr-badge--warning">Non renseigné</p>
  </div>
  <div data-tab-target="section" data-tab-value="tresorerie" class="fr-mb-4w">
    <h2>Trésorerie</h2>
    <p class="fr-badge fr-badge--warning">Non renseigné</p>
  </div>
  <div data-tab-target="section" data-tab-value="analyse" class="fr-mb-4w">
    <h2>Analyse financière</h2>
    <p class="fr-badge fr-badge--warning">Non renseigné</p>
  </div>
  <div data-tab-target="section" data-tab-value="commentaires" class="fr-mb-4w">
    <h2>Commentaires</h2>
    <p class="fr-badge fr-badge--warning">Non renseigné</p>
  </div>
<% end  %>

