<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <h3 class="fr-h4">Fonds de roulement</h3>
    <div class="fr-mt-1w">Niveau final du fonds de roulement <%= render partial: "chiffres/tooltip", locals: {num_id: "fonds_roulement_final_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w fr-mb-2w"><%= format_nombre_entier(chiffre.fonds_roulement_final) %> €</div>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Fonds de roulement en jours de fonctionnement</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.jours_fonctionnement_fr_final) %> Jours</p>
        </div>
      </div>
    </div>
    <div class="fr-mb-2w options fr-hidden">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Niveau initial du fonds de roulement <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_fr_initial_t", chiffre: chiffre} %></p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.fonds_roulement_initial) %> €</p>
        </div>
      </div>
    </div>
    <div class="options fr-hidden">
      <div class="fr-mt-1w">Niveau final du besoin en fonds de roulement <%= render partial: "chiffres/tooltip", locals: {num_id: "fonds_roulement_besoin_final_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w fr-mb-2w"><%= format_nombre_entier(chiffre.fonds_roulement_besoin_final) %> €</div>
      <div class="fr-mb-2w">
        <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-mb-0 fr-text--center">Niveau initial du besoin en fonds de roulement <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_bfr_initial_t", chiffre: chiffre} %></p>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><<%= format_nombre_entier(chiffre.fonds_roulement_besoin_initial) %> €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <% if chiffre.comptabilite_budgetaire == true  %>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Solde budgétaire</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.solde_budgetaire) %>€</p>
        </div>
      </div>
    </div>
    <% end  %>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Variation de la trésorerie</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.tresorerie_variation) %> €</p>
        </div>
      </div>
    </div>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Variation du fonds de roulement <%= render partial: "chiffres/tooltip", locals: {num_id: "fonds_roulement_variation_t", chiffre: chiffre} %></p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.fonds_roulement_variation) %> €</p>
        </div>
      </div>
    </div>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Variation du besoin en fonds de roulement <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_besoin_fr_t", chiffre: chiffre} %></p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.variation_bfr) %> €</p>
        </div>
      </div>
    </div>
    <div class="fr-text--center fr-mb-2w"><span class="fr-icon-arrow-down-fill" aria-hidden="true"></span></div>
    <div class="fr-mb-2w">
      <div class="fr-card <% if chiffre.risque_insolvabilite == 'Situation saine' %>fr-card--vert<%elsif chiffre.risque_insolvabilite == 'Situation saine a priori mais à surveiller'%>fr-card--jaune<%elsif chiffre.risque_insolvabilite == 'Risque d’insoutenabilité à moyen terme'%>fr-card--orange<%elsif chiffre.risque_insolvabilite == 'Risque d’insoutenabilité élevé'%>fr-card--rouge<%end %> fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Examen à moyen-court termes</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= chiffre.risque_insolvabilite %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-text--italic">
  <%= chiffre.texte_analyse %>
</div>