<% if chiffre.comptabilite_budgetaire == true  %>
  <% @den = (chiffre.credits_cp_total - chiffre.credits_cp_investissement)/360 %>
<% else %>
  <% @den = @charges_decaissables/360 %>
<% end  %>
<h3 class="fr-h4">Niveaux de trésorerie</h3>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <% if chiffre.comptabilite_budgetaire == true  %>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Niveau final de trésorerie <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_finale_text_t", chiffre: chiffre} %></p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.tresorerie_finale) %> €</p>
        </div>
      </div>
    </div>
    <%else %>
      <div>Niveau final de trésorerie <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_finale_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w fr-mb-3v"><%= format_nombre_entier(chiffre.tresorerie_finale) %> €</div>
    <%end %>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Trésorerie en jours de fonctionnement <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_treso_jours_t", chiffre: chiffre} %></p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.tresorerie_finale,@den,1)) %> Jours</p>
        </div>
      </div>
    </div>
    <% if chiffre.comptabilite_budgetaire == true  %>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Taux de couverture des restes à payer par la trésorerie <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_treso_rap_t", chiffre: chiffre} %></p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.tresorerie_finale,chiffre.credits_restes_a_payer,100)) %> %</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% if chiffre.comptabilite_budgetaire == true  %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div>Niveau final de la trésorerie non fléchée <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_finale_non_flechee_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w fr-mb-3v"><%= format_nombre_entier(chiffre.tresorerie_finale_non_flechee) %> €</div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-mb-2w">
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-mb-0 fr-text--center">Poids de la trésorerie non fléchée <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_treso_non_flechee_t", chiffre: chiffre} %></p>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.tresorerie_finale_non_flechee,chiffre.tresorerie_finale,100))%> %</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div>Niveau final de la trésorerie fléchée <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_finale_flechee_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre_entier(chiffre.tresorerie_finale_flechee) %> €</div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-mb-2w">
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-mb-0 fr-text--center">Trésorerie non fléchée en jours de fonctionnement <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_treso_non_flechee_jours_t", chiffre: chiffre} %></p>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.tresorerie_finale_non_flechee,@den,1)) %> Jours</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end  %>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Niveau initial de trésorerie <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_indicateur_initial_t", chiffre: chiffre} %></p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(chiffre.tresorerie_finale-chiffre.tresorerie_variation) %> €</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="fr-h4 fr-mt-4w">Variation</h3>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Variation de la trésorerie <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_variation_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w fr-mb-3v"><%= format_nombre_entier(chiffre.tresorerie_variation) %> €</div>
    <% if chiffre.comptabilite_budgetaire == true  %>
      <div class="options fr-hidden">
        <div>Variation de la trésorerie fléchée <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_variation_flechee_t", chiffre: chiffre} %></div>
        <div class="fr-text--bold fr-mt-1w fr-mb-3v"><%= format_nombre_entier(chiffre.tresorerie_variation_flechee) %> €</div>
        <div>Variation de la trésorerie non fléchée <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_variation_non_flechee_t", chiffre: chiffre} %></div>
        <div class="fr-text--bold fr-mt-1w fr-mb-3v"><%= format_nombre_entier(chiffre.tresorerie_variation_non_flechee) %> €</div>
      </div>
    <% end  %>
  </div>
</div>

<h3 class="fr-h4 fr-mt-4w options fr-hidden">Point haut / bas</h3>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Point le plus haut dans le plan de trésorerie <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_max_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre_entier(chiffre.tresorerie_max) %> € au mois de <% if chiffre.tresorerie_max_date %><%= I18n.localize(chiffre.tresorerie_max_date, format: '%B')  %><%else %>-<%end %></div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Niveau le plus haut de trésorerie en jours de fonctionnement</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.tresorerie_max,@den,1)) %> Jours</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Point le plus bas dans le plan de trésorerie <%= render partial: "chiffres/tooltip", locals: {num_id: "tresorerie_min_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre_entier(chiffre.tresorerie_min) %> € au mois de <% if chiffre.tresorerie_min_date %><%= I18n.localize(chiffre.tresorerie_min_date, format: '%B') %><%else %>-<%end %></div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Niveau le plus bas de trésorerie en jours de fonctionnement</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.tresorerie_min,@den,1)) %> Jours</p>
        </div>
      </div>
    </div>
  </div>
</div>