<div class="fr-mb-4w title-btn">
  <div>
  <% if chiffre.operateur == true %><p class="fr-badge fr-badge--info fr-badge--no-icon">Opérateur</p><% else %><p class="fr-badge fr-badge--beige-gris-galet">Non opérateur</p><% end %>
  <% if chiffre.comptabilite_budgetaire == true %><p class="fr-badge fr-badge--success fr-badge--no-icon">Comptabilité budgétaire</p><%else %><p class="fr-badge fr-badge--purple-glycine">Hors comptabilité budgétaire</p><%end %>
  <p class="fr-badge <% if chiffre.phase == 'pré-CA' %>fr-badge--brown-opera<%elsif chiffre.phase == 'CA' %>fr-badge--green-archipel<%else %>fr-badge--blue-ecume<%end %>"><%= chiffre.phase %></p>
  </div>
  <% if @est_editeur%>  <div><%= link_to open_phase_path(id: chiffre.id), data: {"turbo-method": :post, action: "click->tab#openModal", "tab-value": chiffre.id }, class:"fr-btn fr-btn--sm" do%>Modifier<%end %>
  <button class="fr-btn fr-btn--sm fr-hidden" data-fr-opened="false" aria-controls="modal-<%=chiffre.id %>">Modifier la phase</button></div>
  <%end %>
</div>
<% if @est_editeur%>
<dialog id="modal-<%=chiffre.id %>" class="fr-modal" aria-labelledby="modal-<%=chiffre.id %>-title">
</dialog>
<%end %>
<p class="fr-my-1w">Dernières données mises à jour le <%= format_date(chiffre.updated_at) %></p>