<h3 class="fr-h4">Emplois rémunérés par l’organisme</h3>
<% if chiffre.operateur == true %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div><% if chiffre.comptabilite_budgetaire == true %>Autorisation d’emplois<%else %>Emplois<%end %> sous plafond LFI <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_plafond_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_plafond) %> ETPT</div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div><% if chiffre.comptabilite_budgetaire == true %>Autorisation d’emplois<%else %>Emplois<%end %> hors plafond LFI <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_hors_plafond_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_hors_plafond) %> ETPT</div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div>
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-mb-0 fr-text--center">Hors-plafond / total effectifs rémunérés par l'organisme</p>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.emplois_hors_plafond,chiffre.emplois_total,100)) %> %</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-mb-2w">
        <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-mb-0 fr-text--center">Total des <% if chiffre.comptabilite_budgetaire == true %>autorisations d'emplois<%else %>emplois<%end %> rémunérés par l'organisme <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_total_t", chiffre: chiffre} %></p>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_decimal(chiffre.emplois_total) %> ETPT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%else %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div>Total des <% if chiffre.comptabilite_budgetaire == true %>autorisations d'emplois<%else %>emplois<%end %> rémunérés par l'organisme <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_total2_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_total) %> ETPT</div>
    </div>
  </div>
<% end %>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <% if chiffre.comptabilite_budgetaire == true %>
      <div>Total des dépenses de personnel <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_depenses_personnel_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre_entier(chiffre.emplois_depenses_personnel) %> €</div>
    <%else %>
      <div>Total des charges de personnel <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_depenses_personnel_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre_entier(chiffre.emplois_charges_personnel) %> €</div>
    <%end %>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Coût moyen par ETPT <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_cout_t", chiffre: chiffre} %></p>
          <% if chiffre.comptabilite_budgetaire == true %>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.emplois_depenses_personnel,chiffre.emplois_total,1)) %> €</p>
          <%else %>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.emplois_charges_personnel,chiffre.emplois_total,1)) %> €</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if chiffre.operateur == true %>
  <h3 class="fr-h4 fr-mt-4w options fr-hidden">Rappel du plafond </h3>
  <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
    <div class="fr-col-12 fr-col-lg-12">
      <div>Rappel du plafond d'emplois inscrit en PLF / LFI <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_plafond_rappel_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_plafond_rappel) %> ETPT</div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
    <div class="fr-col-12 fr-col-lg-12">
      <div>Plafond d'emplois pré-notifié à l'organisme par le RPROG <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_plafond_prenotifie_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_plafond_prenotifie) %> ETPT</div>
    </div>
  </div>
  <h3 class="fr-h4 fr-mt-4w">Schéma d’emplois</h3>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <div>Schéma d'emplois <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_schema_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_schema) %> ETP</div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
    <div class="fr-col-12 fr-col-lg-12">
      <div>Schéma d'emplois pré-notifié à l'organisme par le RPROG <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_schema_prenotifie_t", chiffre: chiffre} %></div>
      <div class="fr-text--bold fr-mt-1w"><%= format_nombre(chiffre.emplois_schema_prenotifie) %> ETP</div>
    </div>
  </div>
<% end  %>
<h3 class="fr-h4 fr-mt-4w options fr-hidden">Répartition des emplois et dépenses de personnel par statut</h3>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Total des emplois titulaires <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_titulaires_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_titulaires) %> ETPT</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div><% if chiffre.comptabilite_budgetaire == true %>Dépenses<%else %>Charges<%end %> de personnel des emplois titulaires <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_titulaires_montant_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre_entier(chiffre.emplois_titulaires_montant) %> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Coût moyen des emplois titulaires</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.emplois_titulaires_montant,chiffre.emplois_titulaires,1)) %> €</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Total des emplois contractuels <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_contractuels_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_contractuels) %> ETPT</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Part des contractuels dans le total des emplois rémunérés par l’organisme</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.emplois_contractuels,chiffre.emplois_total,100)) %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div><% if chiffre.comptabilite_budgetaire == true %>Dépenses<%else %>Charges<%end %> de personnel des emplois contractuels <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_contractuels_montant_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre_entier(chiffre.emplois_contractuels_montant) %> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Coût moyen des emplois contractuels</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre_entier(ratio(chiffre.emplois_contractuels_montant,chiffre.emplois_contractuels,1)) %> €</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="fr-h4 fr-mt-4w">Autres emplois en fonction dans l’organisme</h3>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Emplois en fonction dans l'organisme, non rémunérés par lui - emplois T2, MAD entrantes remboursées ou non <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_non_remuneres_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_non_remuneres) %> ETPT</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Emplois en fonction dans une autre entité, rémunérés par l'organisme et décomptés dans son plafond d'autorisation d'emplois - MAD sortantes <%= render partial: "chiffres/tooltip", locals: {num_id: "emplois_autre_entite_t", chiffre: chiffre} %></div>
    <div class="fr-text--bold fr-mt-1w"><%= format_nombre_decimal(chiffre.emplois_autre_entite) %> ETPT</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div>
      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Part des personnels exerçant leurs missions dans l’organisme dans le total des emplois rémunérés directement par l’organisme <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_cout_autre_t", chiffre: chiffre} %></p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><% if chiffre.emplois_autre_entite %><%= format_nombre_entier(chiffre.indicateur_part_personnel_organisme) %><%else %>ND<%end %> %</p>
        </div>
      </div>
    </div>
  </div>
</div>