<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <h3 class="fr-h4">Fonds de roulement</h3>
    <% @variation_brf = chiffre.fonds_roulement_variation - chiffre.tresorerie_variation %>
    <div class="fr-mt-1w">Niveau final du fonds de roulement</div>
    <div class="fr-text--bold fr-mt-1w fr-mb-2w"><%= format_nombre(chiffre.fonds_roulement_final) %> €</div>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Niveau initial du fonds de roulement</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.fonds_roulement_final - chiffre.fonds_roulement_variation) %> €</p>
        </div>
      </div>
    </div>
    <div class="options fr-hidden">
      <div class="fr-mt-1w">Niveau final du besoin en fonds de roulement</div>
      <div class="fr-text--bold fr-mt-1w fr-mb-2w"><%= format_nombre(chiffre.fonds_roulement_besoin_final) %> €</div>
      <div class="fr-mb-2w">
        <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-mb-0 fr-text--center">Niveau initial du besoin en fonds de roulement</p>
            <p class="fr-text--bold fr-mb-0 fr-text--center"><%if chiffre.fonds_roulement_besoin_final %><%= format_nombre(chiffre.fonds_roulement_besoin_final - @variation_brf) %><%else %>-<%end %> €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <% if chiffre.comptabilite_budgetaire == true  %>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Solde budgétaire</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@solde) %>€</p>
        </div>
      </div>
    </div>
    <% end  %>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Variation de la trésorerie</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.tresorerie_variation) %> €</p>
        </div>
      </div>
    </div>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Variation du fonds de roulement</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(chiffre.fonds_roulement_variation) %> €</p>
        </div>
      </div>
    </div>
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Variation du besoin en fonds de roulement</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@variation_brf) %> €</p>
        </div>
      </div>
    </div>
    <div class="fr-text--center fr-mb-2w"><span class="fr-icon-arrow-down-fill" aria-hidden="true"></span></div>
    <div class="fr-mb-2w">
      <div class="fr-card <% if chiffre.risque_insolvabilite == 'Situation saine' %>fr-card--vert<%elsif chiffre.risque_insolvabilite == 'Situation saine a priori mais à surveiller'%>fr-card--jaune<%elsif chiffre.risque_insolvabilite == 'Risque d’insoutenabilité à moyen terme'%>fr-card--orange<%elsif chiffre.risque_insolvabilite == 'Risque d’insoutenabilité élevé'%>fr-card--rouge<%end %> fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Examen à moyen-court termes</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center"><%= chiffre.risque_insolvabilite %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-text--italic">
  <% if chiffre.comptabilite_budgetaire == true%>
    <% if @solde >= 0 && chiffre.tresorerie_variation >= 0 && chiffre.fonds_roulement_variation >= 0 %>
    La soutenabilité est atteinte à court et moyen termes, que la variation du besoin en fonds de roulement soit positive ou négative.
    <% elsif @solde >= 0 && chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation >= 0 && @variation_brf >= 0 %>
    La soutenabilité est atteinte à court et moyen termes, dès lors que la variation du besoin en fonds de roulement est positive.<br>Il convient de vérifier si des décaissements liés à des opérations de trésorerie non budgétaires peuvent expliquer cette situation (opérations au nom et pour le compte de tiers par exemple).
    <% elsif @solde >= 0 && chiffre.tresorerie_variation >= 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf < 0 %>
    La situation est viable à court terme notamment si le besoin en fonds est structurellement négatif.<br>Il conviendra de vérifier si la variation à la baisse du fonds de roulement est ponctuelle ou répétée.
    <% elsif @solde >= 0 && chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf < 0 %>
    La situation est viable si la variation du besoin en fonds de roulement est négative, en particulier si le niveau de besoin en fonds de roulement est structurellement négatif.<br> Il convient de vérifier si des décaissements liés à des opérations non budgétaires peuvent expliquer cette situation.
    <% elsif @solde < 0 && chiffre.tresorerie_variation >= 0 && chiffre.fonds_roulement_variation >= 0 && @variation_brf >= 0 %>
    La situation est viable si la variation du besoin en fonds de roulement est positive.<br>Des décalages de flux d’encaissement peuvent expliquer que ponctuellement le solde budgétaire soit négatif. Il convient de vérifier si cela est dû à des opérations pluriannuelles.
    <% elsif @solde < 0 && chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation >= 0 && @variation_brf >= 0 %>
    La situation est viable si la variation du besoin en fonds de roulement est positive.<br>Des décalages de flux d’encaissement peuvent expliquer que ponctuellement le solde budgétaire est négatif. Si le niveau du besoin est structurellement élevé, l’organisme doit disposer d’un niveau de trésorerie important.
    <% elsif @solde >= 0 && chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf >= 0 %>
    Un risque d’insoutenabilité existe à moyen terme si la variation du besoin en fonds de roulement est positive. En effet, il existe un risque que le fonds de roulement ne se redresse pas pour couvrir le besoin en fonds de roulement.<br>Dans ce cas, il convient de vérifier si le solde budgétaire positif est dû à des opérations non budgétaires qui généreraient des décalage de flux de trésorerie important (exemple : remboursements d’emprunts).
    <% elsif @solde < 0 && chiffre.tresorerie_variation >= 0 && chiffre.fonds_roulement_variation >= 0 && @variation_brf < 0 %>
    Il y a un risque d’insoutenabilité à moyen terme si la variation du besoin en fonds de roulement est négative.<br> Une variation du besoin en fonds de roulement devrait, a priori, permettre de dégager un solde budgétaire positif. Il convient donc de vérifier si le solde budgétaire négatif est dû à des opérations pluriannuelles (fléchées ou non) qui généreraient des décalages de flux de trésorerie importants.
    <% elsif @solde < 0 && chiffre.tresorerie_variation >= 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf < 0 %>
    Il peut arriver que des opérations pluriannuelles génèrent des impacts négatifs sur le solde budgétaire sur un ou plusieurs exercices. Il convient d'évaluer si cette situation est temporaire ou non et si la trésorerie s'était accrue au cours des exercices antérieurs ou si des encaissements sont prévus sur des exercices ultérieurs. Il convient de vérifier si des opérations de trésorerie non budgétaires peuvent expliquer la variation de trésorerie.
    <% elsif @solde < 0 && chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf >= 0 %>
    Le risque d'insoutenabilité est élevé car le fonds de roulement ne finance pas le besoin en fonds de roulement et seule la trésorerie est mise à contribution.<br>Il peut arriver que des opérations pluriannuelles génèrent des impacts négatifs sur le solde budgétaire sur un ou plusieurs exercices. Il convient d'évaluer si cette situation est temporaire ou non et si la trésorerie s'était accrue au cours des exercices antérieurs ou si des encaissements sont prévus sur des exercices ultérieurs.
    <% elsif @solde < 0 && chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf < 0 %>
    else if (solde_budgetaire < 0 && tresorerie_variation < 0 && fonds_roulement_variation < 0 && variation_besoin_fr < 0 ){
    Le risque d'insoutenabilité est élevé car malgré la capacité d'encaisser avant de décaisser, le solde budgétaire est négatif. Il peut arriver que des opérations pluriannuelles génèrent des impacts négatifs sur le solde budgétaire sur un ou plusieurs exercices. Il convient d'évaluer si cette situation est temporaire ou non et si la trésorerie s'était accrue au cours des exercices antérieurs ou si des encaissements sont prévus sur des exercices ultérieurs. ll convient de vérifier si des opérations de trésorerie non budgétaires peuvent expliquer la variation de trésorerie.
    <% end %>
  <% else %>
    <% if chiffre.tresorerie_variation >= 0 && chiffre.fonds_roulement_variation >= 0 %>
    La soutenabilité est atteinte à court et moyen termes, que la variation du besoin en fonds de roulement soit positive ou négative.
    <% elsif chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation >= 0 && @variation_brf >= 0%>
    En présence  d’une variation de trésorerie négative mais d’une variation de fonds de roulement positive, la situation est viable a priori car des décalages de flux d'encaissement peuvent expliquer que ponctuellement la trésorerie soit négative. Si le niveau de besoin en fonds de roulement est structurellement élevé, l'organisme doit disposer d'un niveau de trésorerie important.
    <% elsif chiffre.tresorerie_variation >= 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf < 0%>
    La situation est viable à court terme notamment si le besoin en fonds est structurellement négatif.<br>Il conviendra de vérifier si la variation à la baisse du fonds de roulement est ponctuelle ou répétée.
    <% elsif chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf >= 0%>
    En présence d’une variation de fonds de roulement et d’une variation de trésorerie négatifs et d’une variation du besoin en fonds de roulement positive, le risque d’insolvabilité est élevé car le fonds de roulement ne finance pas le besoin en fonds de roulement et seule la trésorerie est mise à contribution. Il peut arriver que des opérations pluriannuelles génèrent des impacts négatifs sur la trésorerie sur un ou plusieurs exercices. Il convient d'évaluer si cette situation est temporaire ou non et si la trésorerie s'était accrue au cours des exercices antérieurs ou si des encaissements sont prévus sur des exercices ultérieurs.
    <% elsif chiffre.tresorerie_variation < 0 && chiffre.fonds_roulement_variation < 0 && @variation_brf < 0%>
    En présence d’une variation de fonds de roulement, d’une variation de trésorerie et d’une variation du besoin en fonds de roulement négatifs, le risque d’insolvabilité est élevé car malgré la capacité d'encaisser avant de décaisser, la trésorerie est négative. Il peut arriver que des opérations pluriannuelles génèrent des impacts négatifs sur la trésorerie sur un ou plusieurs exercices. Il convient d'évaluer si cette situation est temporaire ou non et si la trésorerie s'était accrue au cours des exercices antérieurs ou si des encaissements sont prévus sur des exercices ultérieurs. Il convient de vérifier si des opérations de trésorerie non budgétaires peuvent expliquer l'abondement de la trésorerie (nouvel emprunt, opérations pour au nom et pour le compte de tiers, etc...).
    <% end %>
  <% end  %>
</div>