<% if @chiffre.statut != "valide" %>
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">
      <span class="fr-stepper__state">Étape 2 sur <%= @steps %></span>
      Crédits
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="<%= @steps %>"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Comptabilité générale
    </p>
  </div>
<%end %>

<div class="fr-mb-6w">
  <div class="fr-card  fr-card--no-arrow">
    <div class="fr-card__body" data-controller="form" id="chiffres">
      <div class="fr-card__content">
        <%= render 'organismes/form_notice' %>
        <%= form_with(model: @chiffre, data: {'form-target': "form", action: "input->form#changeCredits turbo:before-fetch-request->form#submitForm"}) do |f|%>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <% if @chiffre.statut != "valide" %>
            <%= f.hidden_field :statut, value: "2" %>
          <%end %>
          <h2>Dépenses</h2>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_ae_total" class="fr-label">Total des autorisations d'engagement (AE)* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_ae_total_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_ae_total, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_ae_total, id:"credits_ae_total", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_cp_total" class="fr-label">Total des crédits de paiement (CP)* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_cp_total_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_cp_total, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_total, id:"credits_cp_total", class:"fr-input" %>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Dont total des dépenses de personnel (AE) </p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@chiffre.emplois_depenses_personnel) %>€</p>
                </div>
              </div>
            </div>
            <%= f.hidden_field :emplois_depenses_personnel, id: "credits_cp_personnel", value: @chiffre.emplois_depenses_personnel %>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Dont total des dépenses de personnel (CP) <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_cp_personnel_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@chiffre.emplois_depenses_personnel) %>€</p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses de personnel (CP) <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_poids_personnel_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_poids_personnel">-</span>%</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group fr-input-group--option options fr-hidden">
                <label for="credits_ae_fonctionnement" class="fr-label">Dont total des dépenses de fonctionnement (AE) <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_ae_fonctionnement_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_ae_fonctionnement, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_ae_fonctionnement, id:"credits_ae_fonctionnement", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_cp_fonctionnement" class="fr-label">Dont total des dépenses de fonctionnement (CP)* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_cp_fonctionnement_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_cp_fonctionnement, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_fonctionnement, id:"credits_cp_fonctionnement", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Part des dépenses de fonctionnement (CP) dans le total des dépenses (CP) <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_poids_fonctionnement_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_poids_fonctionnement">-</span>%</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group fr-input-group--option options fr-hidden">
                <label for="credits_ae_intervention" class="fr-label">Dont total des dépenses d'intervention (AE) <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_ae_intervention_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_ae_intervention, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_ae_intervention, id:"credits_ae_intervention", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_cp_intervention" class="fr-label">Dont total des dépenses d'intervention (CP)* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_cp_intervention_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_cp_intervention, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_intervention, id:"credits_cp_intervention", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Part des dépenses d’intervention (CP) dans le total des dépenses (CP) <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_poids_intervention_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_poids_intervention">-</span>%</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group fr-input-group--option options fr-hidden">
                <label for="credits_ae_investissement" class="fr-label">Dont total des dépenses d'investissement (AE) <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_ae_investissement_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_ae_investissement, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_ae_investissement, id:"credits_ae_investissement", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_cp_investissement" class="fr-label">Dont total des dépenses d'investissement (CP)* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_cp_investissement_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_cp_investissement, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_investissement, id:"credits_cp_investissement", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Part des dépenses d’investissement (CP) dans le total des dépenses (CP) <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_poids_investissement_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_poids_investissement">-</span>%</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
            <div class="fr-col-12 fr-col-lg-4">
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group fr-input-group--option ">
                <label for="credits_cp_recettes_flechees" class="fr-label">Total des dépenses sur recettes fléchées (CP) <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_cp_recettes_flechees_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_cp_recettes_flechees, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_recettes_flechees, id:"credits_cp_recettes_flechees", class:"fr-input" %>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters options fr-hidden">
            <div class="fr-col-12 fr-col-lg-4">
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group fr-input-group--option ">
                <label for="credits_cp_operations" class="fr-label">Total des crédits de paiement ouverts en N pour des opérations pluriannuelles <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_cp_operations_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                <%= f.text_field :credits_cp_operations, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_operations, id:"credits_cp_operations", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Poids des crédits de paiement au titre d'opérations pluriannuelles <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_operations_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_operations">-</span>%</p>
                </div>
              </div>
            </div>
          </div>

          <h2 class="fr-mt-4w">Recettes</h2>
          <% if @chiffre.operateur == true %>
            <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_subvention_sp" class="fr-label">Subvention pour charges de service public* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_subvention_sp_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_subvention_sp, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_subvention_sp, id:"credits_subvention_sp", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Taux de couverture des dépenses de personnel et de fonctionnement par de la SCSP <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_taux_sp_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_taux_sp">-</span>%</p>
                </div>
              </div>
            </div>
          </div>
            <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_subvention_investissement_globalisee" class="fr-label">Subvention pour charges d'investissement globalisée* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_subvention_investissement_globalisee_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_subvention_investissement_globalisee, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_subvention_investissement_globalisee, id:"credits_subvention_investissement_globalisee", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_subvention_investissement_flechee" class="fr-label">Subvention pour charges d'investissement fléchée* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_subvention_investissement_flechee_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_subvention_investissement_flechee, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_subvention_investissement_flechee, id:"credits_subvention_investissement_flechee", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Poids de la SCSP sur recettes totales</p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_poids_scsp">-</span>%</p>
                </div>
              </div>
            </div>
          </div>
          <% end  %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_financements_etat_autres" class="fr-label">Autres financements de l’Etat* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_financements_etat_autres_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_financements_etat_autres, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_financements_etat_autres, id:"credits_financements_etat_autres", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_financements_etat_fleches" class="fr-label">Autres financements de l’Etat fléchés* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_financements_etat_fleches_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_financements_etat_fleches, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_financements_etat_fleches, id:"credits_financements_etat_fleches", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Total des subventions de l’Etat</p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_subv_etat">-</span>€</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_fiscalite_affectee" class="fr-label">Fiscalité affectée* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_fiscalite_affectee_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_fiscalite_affectee, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_fiscalite_affectee, id:"credits_fiscalite_affectee", class:"fr-input" %>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_financements_publics_autres" class="fr-label">Autres financements publics* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_financements_publics_autres_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_financements_publics_autres, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_financements_publics_autres, id:"credits_financements_publics_autres", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_financements_publics_fleches" class="fr-label">Autres financements publics fléchés* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_financements_publics_fleches_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_financements_publics_fleches, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_financements_publics_fleches, id:"credits_financements_publics_fleches", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Poids des financements de l’Etat <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_poids_financements_etat_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_poids_financements_etat">-</span>%</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_recettes_propres_globalisees" class="fr-label">Recettes propres globalisées* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_recettes_propres_globalisees_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_recettes_propres_globalisees, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_recettes_propres_globalisees, id:"credits_recettes_propres_globalisees", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_recettes_propres_flechees" class="fr-label">Recettes propres fléchées* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_recettes_propres_flechees_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_recettes_propres_flechees, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_recettes_propres_flechees, id:"credits_recettes_propres_flechees", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Total des recettes propres <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_total_recettes_propres_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_total_recettes_propres">-</span>€</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Total des recettes globalisées <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_total_recettes_globalisees_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_total_recettes_globalisees">-</span>€</p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Total des recettes fléchées <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_total_recettes_flechees_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_total_recettes_flechees">-</span>€</p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Poids des recettes non fléchées <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_poids_recettes_globalisees_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_poids_recettes_globalisees">-</span>%</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-8">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Total des recettes <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_total_recettes_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_total_recettes">-</span>€</p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Taux de recettes propres <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_taux_recettes_propres_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_taux_recettes_propres">-</span>%</p>
                </div>
              </div>
            </div>
          </div>

          <h2 class="fr-mt-4w">Solde budgétaire</h2>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-8">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Solde budgétaire <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_solde_budgetaire_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_solde_budgetaire">-</span>€</p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4 options fr-hidden">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Solde budgétaire résultant des opérations fléchées <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_solde_budgetaire_fleche_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_solde_budgetaire_fleche">-</span>€</p>
                </div>
              </div>
            </div>
          </div>
          <h2 class="fr-mt-4w">Restes à payer</h2>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_restes_a_payer" class="fr-label">Niveau final des restes à payer* <%= render partial: "chiffres/tooltip", locals: {num_id: "credits_restes_a_payer_t", chiffre: @chiffre} %></label>
                <div class="fr-input-wrap fr-icon-money-euro-circle-line">
                  <%= f.text_field :credits_restes_a_payer, data: {'form-target': 'fieldRequire', action: 'input->form#changeNumber'}, value: @chiffre.credits_restes_a_payer, id:"credits_restes_a_payer", class:"fr-input" %>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Variation des restes à payer <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_variation_rap_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_variation_rap">-</span>€</p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Poids des restes à payer <%= render partial: "chiffres/tooltip", locals: {num_id: "indicateur_poids_rap_t", chiffre: @chiffre} %></p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><span id="indicateur_poids_rap">-</span>%</p>
                </div>
              </div>
            </div>
          </div>

          <div class="fr-mt-4w"><button id="btn-plus" class="fr-btn fr-btn--secondary" data-action="click->form#afficherInfos">Renseigner + de données</button></div>

          <div class="fr-my-4w">
            <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
              <li>
                <% if @chiffre.statut == 'valide' %>
                  <%=link_to organisme_chiffres_path(@chiffre.organisme), class: "fr-btn fr-btn--secondary" do %>Annuler<%end %>
                <%else %>
                  <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line"  data-fr-opened="false" aria-controls="fr-modal-1" data-action="form#Dropdown">
                    Étape précédente
                  </button>
                <%end %>
              </li>
              <li>
                <%= f.submit("#{@chiffre.statut != 'valide' ? 'Valider et passer à l\'étape suivante' : 'Valider'}", class: "fr-btn", data: {'form-target': "submitBouton", action: "click->form#changeTextToFloat" }, aria: { label: "Valider"}) %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<dialog id="fr-modal-1" class="fr-modal">
  <%= render partial: 'chiffres/modal_retour',locals: {step: 1} %>
</dialog>