<% if @chiffre.statut != "valide" %>
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">
      <span class="fr-stepper__state">Étape 2 sur <%= @steps %></span>
      Emplois
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="<%= @steps %>"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Comptabilité générale
    </p>
  </div>
<%end %>

<div class="fr-mb-6w">
  <div class="fr-card  fr-card--no-arrow">
    <div class="fr-card__body" data-controller="form" id="chiffres">
      <div class="fr-card__content">
        <%= form_with(model: @chiffre, data: {'form-target': "form", action: "input->form#changeEmplois turbo:before-fetch-request->form#submitForm"}) do |f|%>
          <% if @chiffre.statut != "valide" %>
            <%= f.hidden_field :statut, value: "2" %>
          <%end %>
          <h2>Dépenses</h2>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_ae_total" class="fr-label">Total des autorisations d'engagement (AE)*</label>
                <%= f.text_field :credits_ae_total, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_ae_total, id:"credits_ae_total", class:"fr-input" %>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_cp_total" class="fr-label">Total des crédits de paiement (CP en €)*</label>
                <%= f.text_field :credits_cp_total, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_total, id:"credits_cp_total", class:"fr-input" %>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Dont total des dépenses de personnel (AE) </p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@chiffre.emplois_depenses_personnel) %></p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Dont total des dépenses de personnel (CP) </p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center"><%= format_nombre(@chiffre.emplois_depenses_personnel) %></p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                <div class="fr-cart__body">
                  <p class="fr-mb-0 fr-text--center">Poids relatif des dépenses de personnel (CP) </p>
                  <p class="fr-text--bold fr-mb-0 fr-text--center">-</p>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group fr-input-group--option options fr-hidden">
                <label for="credits_ae_fonctionnement" class="fr-label">Dont total des dépenses de fonctionnement (AE en €)*</label>
                <%= f.text_field :credits_ae_fonctionnement, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_ae_fonctionnement, id:"credits_ae_fonctionnement", class:"fr-input" %>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_cp_fonctionnement" class="fr-label">Dont total des dépenses de fonctionnement (CP en €)*</label>
                <%= f.text_field :credits_cp_fonctionnement, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_fonctionnement, id:"credits_cp_fonctionnement", class:"fr-input" %>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group fr-input-group--option options fr-hidden">
                <label for="credits_ae_intervention" class="fr-label">Dont total des dépenses d'intervention (AE en €)*</label>
                <%= f.text_field :credits_ae_intervention, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_ae_intervention, id:"credits_ae_intervention", class:"fr-input" %>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_cp_intervention" class="fr-label">Dont total des dépenses d'intervention (CP en €)*</label>
                <%= f.text_field :credits_cp_intervention, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_intervention, id:"credits_cp_intervention", class:"fr-input" %>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group fr-input-group--option options fr-hidden">
                <label for="credits_ae_investissement" class="fr-label">Dont total des dépenses d'investissement (AE en €)*</label>
                <%= f.text_field :credits_ae_investissement, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_ae_investissement, id:"credits_ae_investissement", class:"fr-input" %>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
              <div class="fr-input-group">
                <label for="credits_cp_investissement" class="fr-label">Dont total des dépenses d'investissement (CP en €)*</label>
                <%= f.text_field :credits_cp_investissement, data: {action: 'input->form#changeNumber'}, value: @chiffre.credits_cp_investissement, id:"credits_cp_investissement", class:"fr-input" %>
              </div>
            </div>
          </div>
          <h2 class="fr-mt-4w">Recettes</h2>
          <h2 class="fr-mt-4w">Solde budgétaire</h2>
          <h2 class="fr-mt-4w">Restes à payer</h2>

          <div class="fr-mt-4w"><button id="btn-plus" class="fr-btn fr-btn--secondary" data-action="click->form#afficherInfos">Renseigner + de données</button></div>

          <div class="fr-my-4w">
            <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
              <li>
                <%= f.submit("#{@chiffre.statut != 'valide' ? 'Valider et passer à l\'étape suivante' : 'Valider'}", class: "fr-btn", data: {'form-target': "submitBouton", action: "click->form#changeTextToFloat" }, aria: { label: "Valider"}) %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>