<div class="fr-h4">Liste des résultats <span id="total_table<%= exercice %>"><%= render partial: "chiffres/suivi_table_total", locals: {total: @liste_organismes.length} %></span></div>
<div class="fr-table fr-table--bordered fr-table--no-caption fr-table--layout-fixed--lg fr-table--onglet2-vscroll fr-table--min-height" data-controller="filter">
  <%= form_with(url: filtre_suivi_path(exercice: exercice), method: :post, data: { 'filter-target': "form"}) do |f|%>
  <table>
    <caption></caption>
    <thead>
    <tr>
      <th scope="col">Organisme</th>
      <th scope="col">Budget initial
        <div class="fr-translate fr-nav fr-nav-filter">
          <button class="filter-table--btn" aria-controls="bi<%=exercice %>" aria-expanded="false" title="Filtrer par budget initial" data-action="click->filter#Dropdown">
          </button>
          <div class="fr-collapse fr-menu" id="bi<%=exercice %>">
            <ul class="fr-menu__list filter-table--list">
              <li><fieldset class="fr-fieldset fr-mt-1w" id="checkboxes-bi<%=exercice %>">
                <div class="fr-fieldset__element">
                  <% ["Situation saine","Situation saine a priori mais à surveiller","Risque d’insoutenabilité à moyen terme","Risque d’insoutenabilité élevé", "Brouillon", "Non renseigné"].each_with_index do |examen,i| %>
                    <div class="fr-checkbox-group fr-checkbox-group--sm fr-mb-1w">
                      <%= f.check_box "budget_bis[]", {data: {action: "change->filter#submitFilter"}, id: "checkboxes-bi#{exercice}-#{i}"}, examen%>
                      <label class="fr-label" for="checkboxes-bi<%=exercice %>-<%= i %>"><%= examen %></label>
                    </div>
                  <%end %>
                </div>
              </fieldset></li>
            </ul>
          </div>
        </div>
      </th>
      <th scope="col">Budget rectificatif
        <a class="fr-link" aria-describedby="info-<%=exercice %>" id="link-info-<%=exercice %>" href="#" data-action="filter#Dropdown"><span class="fr-icon-question-line fr-icon--sm" aria-hidden="true"></span></a>
        <span class="fr-tooltip fr-placement" id="info-<%=exercice %>" role="tooltip" aria-hidden="true">Dernier BR renseigné</span>
        <div class="fr-translate fr-nav fr-nav-filter">
        <button class="filter-table--btn" aria-controls="br<%=exercice %>" aria-expanded="false" title="Filtrer par budget rectificatif" data-action="click->filter#Dropdown">
        </button>
        <div class="fr-collapse fr-menu" id="br<%=exercice %>">
          <ul class="fr-menu__list filter-table--list">
            <li><fieldset class="fr-fieldset fr-mt-1w" id="checkboxes-br<%=exercice %>">
              <div class="fr-fieldset__element">
                <% ["Situation saine","Situation saine a priori mais à surveiller","Risque d’insoutenabilité à moyen terme","Risque d’insoutenabilité élevé", "Brouillon", "Aucun"].each_with_index do |examen,i| %>
                  <div class="fr-checkbox-group fr-checkbox-group--sm fr-mb-1w">
                    <%= f.check_box "budget_brs[]", {data: {action: "change->filter#submitFilter"}, id: "checkboxes-br#{exercice}-#{i}"}, examen%>
                    <label class="fr-label" for="checkboxes-br<%=exercice %>-<%= i %>"><%= examen %></label>
                  </div>
                <%end %>
              </div>
            </fieldset></li>
          </ul>
        </div>
      </div>
      </th>
      <th scope="col">Compte financier
        <div class="fr-translate fr-nav fr-nav-filter">
          <button class="filter-table--btn" aria-controls="cf<%=exercice %>" aria-expanded="false" title="Filtrer par compte financier" data-action="click->filter#Dropdown">
          </button>
          <div class="fr-collapse fr-menu" id="cf<%=exercice %>">
            <ul class="fr-menu__list filter-table--list">
              <li><fieldset class="fr-fieldset fr-mt-1w" id="checkboxes-cf<%=exercice %>">
                <div class="fr-fieldset__element">
                  <% ["Situation saine","Situation saine a priori mais à surveiller","Risque d’insoutenabilité à moyen terme","Risque d’insoutenabilité élevé", "Brouillon", "Non renseigné"].each_with_index do |examen,i| %>
                    <div class="fr-checkbox-group fr-checkbox-group--sm fr-mb-1w">
                      <%= f.check_box "budget_cfs[]", {data: {action: "change->filter#submitFilter"}, id: "checkboxes-cf#{exercice}-#{i}"}, examen%>
                      <label class="fr-label" for="checkboxes-cf<%=exercice %>-<%= i %>"><%= examen %></label>
                    </div>
                  <%end %>
                </div>
              </fieldset></li>
            </ul>
          </div>
        </div>
      </th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="suivi_table_body<%=exercice %>">
      <%= render partial: "chiffres/suivi_table_body", locals: {exercice: exercice, liste_organismes: @liste_organismes, liste_chiffres_organismes: @liste_chiffres_organismes} %>
    </tbody>
  </table>
  <% end %>
</div>