<a class="fr-link" aria-describedby="<%= num_id %>-<%=chiffre.id %>" id="link-<%= num_id %>-<%=chiffre.id %>" href="#" data-controller="filter" data-action="filter#Dropdown">
  <span class="fr-icon-question-line fr-icon--sm" aria-hidden="true"></span>
</a>
<span class="fr-tooltip fr-placement" id="<%= num_id %>-<%=chiffre.id %>" role="tooltip" aria-hidden="true">
  <% if num_id == "emplois_plafond_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour vote de l'organe délibérant" <br>
    > Cellule "Sous plafond LFI (a)"
  <% elsif num_id == "emplois_hors_plafond_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour vote de l'organe délibérant" <br>
    > Cellule "Hors plafond LFI (b)"
  <% elsif num_id == "emplois_total_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour vote de l'organe délibérant" <br>
    > Cellule "Plafond organisme"
  <% elsif num_id == "emplois_total2_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour vote de l'organe délibérant" <br>
    > Cellule <%= chiffre&.comptabilite_budgetaire ? 'Plafond organisme' : 'Total organisme' %>
  <% elsif num_id == "emplois_depenses_personnel_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour information de l'organe délibérant" <br>
    > Cellule "Total des emplois rémunérés par l'organisme et des autres dépenses de personnel / <%= chiffre&.comptabilite_budgetaire ? 'Plafond organisme / Dépenses' : 'Total organisme / Charges' %> de personnel"<br>
      OU <br>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Tableau "Dépenses" <br>
    > Cellule "Personnel" (en CP) <br>
    <span class="fr-text--italic">Rappel : L'article 181 du décret GBCP prévoit que s'agissant des dépenses de personnel, le montant des autorisations d'engagement est égal au montant des crédits de paiement.</span>
   <% else %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span> <br>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Charges" <br>
    > Cellule "Personnel"<br>
    <% end %>
  <% elsif num_id == "emplois_plafond_rappel_t" %>
    Source : <span class="fr-text--underline">PAP</span><br>
    > Partie Opérateurs<br>
    > Tableau "Consolidation des emplois de l'opérateur"<br>
    > Cellule "Emplois rémunérés par l'opérateur / Sous plafond / PLF N"<br>
  <% elsif num_id == "emplois_plafond_prenotifie_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    >  Cellule "Rappel du plafond d'emploi notifié par le responsable de programme en ETPT"<br>
    OU<br>
    Source : <span class="fr-text--underline">Pré-notification soumise à l'avis du contrôleur budgétaire</span> <br>
  <% elsif num_id == "emplois_schema_t" %>
    Source : <span class="fr-text--underline">Tableau n°1 "Suivi des emplois" du Document prévisionnel de gestion des emplois et des crédits de personnel (DPGECP)"</span><br>
     <span class="fr-text--italic">Rappel : en application de l'article 182 du décret GBCP, les organismes soumis à la comptabilité budgétaire doivent établir un DPGECP. L'ordonnateur de l'organisme doit transmettre le DPGECP à l'autorité en charge du contrôle et aux autorités de tutelle obligatoirement préalablement à l'envoi du projet de BI aux membre de l'organe délibérant dans un délai compatible avec l'examen du projet de BI. <br>
    En pratique, la communication du DPGECP est un préalable à la réunion préparatoire au conseil d'administration relatif au BI (préCA). L'ordonnateur doit également le transmettre aux mêmes autorités à l'occasion de l'envoi du compte financier aux membres de l'organe délibérant. <br>
    Par ailleurs, comme prévu par le vademecum relatif à la gestion budgétaire et comptablie des organismes publics et des opérateurs de l'Etat, les opérateurs qui ne seraient pas soumis à la comptabilité budgétaire ou au titre III du décret GBCP doivent néanmoins produire des DPGECP.</span>
  <% elsif num_id == "emplois_schema_prenotifie_t" %>
    Source : <span class="fr-text--underline">Pré-notification soumise à l'avis du contrôleur budgétaire </span>
  <% elsif num_id == "emplois_titulaires_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour information de l'organe délibérant"<br>
    > Cellule  "Titulaires / <%= chiffre&.comptabilite_budgetaire ? 'Plafond organisme' : 'Total organisme' %> / ETPT"<br>
  <% elsif num_id == "emplois_titulaires_montant_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour information de l'organe délibérant"<br>
    > Cellule "Titulaires / <%= chiffre&.comptabilite_budgetaire ? 'Plafond organisme / Dépenses' : 'Total organisme / Charges' %> de personnel"<br>
  <% elsif num_id == "emplois_contractuels_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour information de l'organe délibérant"<br>
    > Cellule  "Contractuels / <%= chiffre&.comptabilite_budgetaire ? 'Plafond organisme' : 'Total organisme' %> / ETPT"<br>
  <% elsif num_id == "emplois_contractuels_montant_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    > Tableau "Pour information de l'organe délibérant"<br>
    > Cellule "Contractuels / <%= chiffre&.comptabilite_budgetaire ? 'Plafond organisme / Dépenses' : 'Total organisme / Charges' %> de personnel"<br>
  <% elsif num_id == "emplois_non_remuneres_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    <% if chiffre.comptabilite_budgetaire == true %>
    > Tableau  "Pour information : tableau détaillé des emplois rémunérés par d'autres personnes morales et ne décomptant pas dans le plafond des autorisations d'emplois de l'organisme"<br>
    <%else %>
    > Tableau  "Pour information : tableau détaillé des emplois rémunérés par d'autres personnes morales"<br>
    <% end %>
    > Cellule "Emplois rémunérés par d'autres personnes morales (en ETPT)" <br>
  <% elsif num_id == "emplois_autre_entite_t" %>
    Source : <span class="fr-text--underline">Tableau 1 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "<%= chiffre&.comptabilite_budgetaire ? "Autorisations d'" : 'Présentation des ' %>emplois"</span><br>
    <% if chiffre.comptabilite_budgetaire == true %>
    > Tableau "Pour information : tableau détaillé des emplois rémunérés par l'organisme et décomptant le plafond des autorisations d'emplois de l'organisme mais en fonction dans une autre entité"<br>
    <% else %>
    > Tableau "Pour information : tableau détaillé des emplois rémunérés par l'organisme en fonction dans une autre entité"<br>
    <% end %>
    > Cellule "Emplois rémunérés par l'organisme" <br>
  <% elsif num_id == "indicateur_cout_t" %>
    Cet indicateur permet de mesurer le coût moyen chargé d'un ETPT, facilitant ainsi la comparaison dans le temps, en identifiant la part de la variation des dépenses de personnel d'un exercice à un autre non liée à la variation des effectifs.
  <% elsif num_id == "indicateur_cout_autre_t" %>
    <span class="fr-text--bold">Formule de calcul : <br>
    <% if chiffre.comptabilite_budgetaire == true %>
    (Total autorisations d'emplois rémunérés par l'organisme - Emplois en fonction dans une autre entité, rémunérés par l'organisme et décomptés dans son plafond d'autorisations d'emplois + Emplois en fonction dans l'organisme, non rémunérés par lui) / Total autorisations d'emplois rémunérés par l'organisme
    <%else %>
    (Total emplois rémunérés par l'organisme - Emplois en fonction dans une autre entité, rémunérés par l'organisme + Emplois en fonction dans l'organisme, non rémunérés par lui) / Total emplois rémunérés par l'organisme
    <%end %>
    </span>
    <!-- CREDITS -->
  <% elsif num_id == "credits_ae_total_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Total des dépenses en AE"
  <% elsif num_id == "credits_cp_total_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Total des dépenses en CP"
  <% elsif num_id == "credits_cp_personnel_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Personnel" (en CP) <br>
    Rappel : L'article 181 du décret GBCP prévoit que s'agissant des dépenses de personnel, le montant des autorisations d'engagement est égal au montant des crédits de paiement.
  <% elsif num_id == "credits_poids_personnel_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des dépenses de personnel / Total des dépenses hors investissement</span><br><br>
    Cet indicateur permet de mesurer le degré de rigidité du budget lié à la part des dépenses destinées à la rémunération des personnel. <br>
    L'exclusion des dépenses d'investissement permet d'éviter les éventuelles évolutions erratiques liées à la réalisation d'opérations ponctuelles de montants significatifs.
  <% elsif num_id == "indicateur_poids_fonctionnement_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des dépenses de fonctionnement (CP) / Total des crédits de paiement (CP)</span>
  <% elsif num_id == "indicateur_poids_intervention_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des dépenses d'intervention (CP) / Total des crédits de paiement (CP)</span>
  <% elsif num_id == "indicateur_poids_investissement_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des dépenses d'investissement (CP) / Total des crédits de paiement (CP)</span>
  <% elsif num_id == "credits_ae_fonctionnement_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Fonctionnement (en AE)"
  <% elsif num_id == "credits_cp_fonctionnement_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Fonctionnement (en CP)"
  <% elsif num_id == "credits_ae_intervention_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Intervention" (en AE)
  <% elsif num_id == "credits_cp_intervention_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Intervention" (en CP)
  <% elsif num_id == "credits_ae_investissement_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Investissement" (en AE)
  <% elsif num_id == "credits_cp_investissement_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Dépenses"<br>
    > Cellule "Investissement" (en CP)
  <% elsif num_id == "credits_cp_recettes_flechees_t" %>
    Source : <span class="fr-text--underline">Tableau 8 de la liasse budgétaire - "Opérations sur recettes fléchées"</span><br>
    > Cellule "Dépenses sur recettes fléchées (CP) - année N"
  <% elsif num_id == "credits_cp_operations_t" %>
    Source : <span class="fr-text--underline"> Tableau 9 de la liasse budgétaire - "Opérations pluriannuelles - Exécution Prévision" </span><br>
    > Cellule "Total des CP ouverts en N"
  <% elsif num_id == "indicateur_operations_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des crédits de paiement ouverts en N pour des opérations pluriannuelles / Total des crédits de paiement</span><br><br>
    Cet indicateur permet de mesurer le poids, dans le budget de l'organisme, des "décaissements inéluctables" car liés à des opérations pluriannuelles.
  <% elsif num_id == "credits_subvention_sp_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Tableau "Recettes"<br>
    > Partie "Recettes globalisées"<br>
    > Cellule "Subvention pour charges de service public" <br>
    Rappel : ne concerne que les opérateurs de l'Etat
  <% elsif num_id == "indicateur_taux_sp_t" %>
    <span class="fr-text--bold">Formule de calcul : Subvention pour charges de service public / (total des dépenses de personnel (CP) + Total des dépenses de fonctionnement (CP))</span><br><br>
    La subvention pour charges de service public constitue par nature une subvention de fonctionnement annuelle destinée à couvrir indistinctement des dépenses de fonctionnement et de personnel des opérateurs. Elle n'a toutefois pas vocation à être la source exclusivde de financement de ces dépenses.
  <% elsif num_id == "credits_subvention_investissement_globalisee_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes globalisées"<br>
    > Cellule "Subvention pour charges d'investissement"
  <% elsif num_id == "credits_subvention_investissement_flechee_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes fléchées"<br>
    > Cellule "Subvention pour charges d'investissement fléchée"
  <% elsif num_id == "credits_financements_etat_autres_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes globalisées"<br>
    > Cellule  "Autres financements de l'Etat"
  <% elsif num_id == "credits_financements_etat_fleches_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes fléchées"<br>
    > Cellule  "Autres financements de l'Etat fléchés"
  <% elsif num_id == "credits_fiscalite_affectee_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes globalisées"<br>
    > Cellule "Fiscalité affectée"
  <% elsif num_id == "credits_financements_publics_autres_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes globalisées"<br>
    > Cellule "Autres financements publics"
  <% elsif num_id == "credits_financements_publics_fleches_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes fléchées"<br>
    > Cellule "Autres financements publics fléchés"
  <% elsif num_id == "indicateur_poids_financements_etat_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des subventions de l'Etat / Total des recettes</span>
  <% elsif num_id == "indicateur_poids_recettes_globalisees_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des recettes globalisées / Total des recettes</span>
  <% elsif num_id == "indicateur_total_recettes_globalisees_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Cellule "Recettes globalisées"
  <% elsif num_id == "indicateur_total_recettes_flechees_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Cellule "Recettes fléchées"
  <% elsif num_id == "credits_recettes_propres_globalisees_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes globalisées"<br>
    > Cellule "Recettes propres"
  <% elsif num_id == "credits_recettes_propres_flechees_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Sous-partie "Recettes fléchées"<br>
    > Cellule "Recettes propres fléchées"
  <% elsif num_id == "indicateur_total_recettes_propres_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Cellule "Recettes propres" + Cellule "Recettes propres fléchées"
  <% elsif num_id == "indicateur_total_recettes_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse budgétaire - "Autorisations budgétaires" </span><br>
    > Partie "Recettes"<br>
    > Cellule "Total des recettes"
  <% elsif num_id == "indicateur_taux_recettes_propres_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des recettes propres / total des recettes</span><br><br>
    Cet indicateur permet de mesurer le taux de dépendance de l'organisme vis-a-vis des financements publics.
  <% elsif num_id == "indicateur_solde_budgetaire_t" %>
    Le solde budgétaire correspond à la différence entre les recettes encaissées et les CP de l'année, soit à la variation de trésorerie générée par les opérations budgétaires et constitue à ce titre un solde primaire de la variation de trésorerie, excluant les opérations de trésorerie non budgétaires. <br>
    Le solde budgétaire doit être analysé en tenant compte des modalités de financement de l'organisme et de la programmation de ses opérations pluriannuelles. Il peut arriver que d'un exercice sur l'autre ce solde varie sensiblement voire même qu'il soit déficitaire. <br>
    Dans cette hypothèse, il convient d'isoler ce qui relève des opérations fléchées car celles-ci peuvent générer des décalages de flux importants.
  <% elsif num_id == "indicateur_solde_budgetaire_fleche_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des recettes fléchées - Total des dépenses sur recettes fléchées</span>
  <% elsif num_id == "indicateur_variation_rap_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des autorisations d'engagement - Total des crédits de paiement</span>
  <% elsif num_id == "credits_restes_a_payer_t" %>
    Source : <span class="fr-text--underline">Tableau 10 de la liasse budgétaire -  "Synthèse budgétaire et comptable" </span><br>
    > Cellule "Niveau final des restes à payer" <br><br>
    Les restes-à-payer (RAP) correspondent à la différence entre les AE consommées et les paiements effectués sur ces engagements (AE consommées – CP consommés).<br>
    Ils permettent ainsi d’évaluer les paiements qui devront intervenir sur un (ou des) exercice(s) ultérieur(s) compte tenu des engagements souscrits.<br>
    Les RAP permettent d’appréhender la soutenabilité sur le moyen et le long terme. Ils représentent un montant de décaissements à venir incontournable, correspondant à la somme des CP restant à mobiliser. Ils peuvent ainsi s’apparenter à de la « quasi-dette ». <br>
    L’absence de maîtrise des RAP constitue un risque susceptible de porter atteinte à la soutenabilité de l’organisme. <br>
    Tout comme un niveau d’endettement, les RAP sont à analyser au regard de trois critères : <br>
    - leur évolution ;<br>
    - la durée sur laquelle ils s’étalent ; <br>
    - les ressources de l’organisme permettant de couvrir ces futurs décaissements. <br>
    Un niveau de RAP augmentant d’année en année peut indiquer un risque à venir sur la trésorerie ; une telle situation suppose de vérifier que des financements passés (trésorerie accumulée) ou à venir (restes à encaisser) permettent de couvrir ces RAP, à défaut cette « quasi-dette » risque de conduire à une impasse budgétaire.<br>
    De plus, il est nécessaire de vérifier la durée moyenne des RAP : l’appréciation de la soutenabilité d’un volume de RAP dont le dénouement s’opère sur une année sera différente de celle effectuée pour un même volume de RAP dont les décaissements s’échelonnent sur 5 ans. Les échéanciers de CP, notamment précisés dans les tableaux des opérations pluriannuelles, permettent de vérifier la concentration de CP sur tel ou tel exercice ou à l’inverse le lissage des CP et par là même la capacité de l’organisme à faire face à ces décaissements.<br>
    Les RAP représentent un indicateur majeur en matière d’analyse de la soutenabilité budgétaire car ils englobent a minima toutes les dettes fournisseurs ainsi que les charges à payer, ces dernières représentant les paiements les plus imminents.
  <% elsif num_id == "indicateur_poids_rap_t" %>
    <span class="fr-text--bold">Formule de calcul : Niveau final des restes à payer / (Total des crédits de paiement - total des dépenses de personnel)</span><br><br>
    Cet indicateur permet de mesurer le degré de rigidité de la dépense (hors dépenses de personnel qui ne génèrent aucun reste à payer) et l'inertie générée par les engagements pris au cours de l'exercice en cours et des exercices précédents.
    <!-- COMPTA GE -->
  <% elsif num_id == "charges_personnel_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Charges" <br>
    > Cellule "Personnel"
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 1 de la liasse - "Présentation des emplois"</span><br>
    > Tableau “Pour information de l'organe délibérant"<br>
    > Cellule "Total des emplois rémunérés par l'organisme et des autres dépenses de personnel / Total organisme / Charges de personnel" <br>
    OU<br>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Charges" <br>
    > Cellule "Personnel"
    <% end %>
  <% elsif num_id == "charges_fonctionnement_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Charges" <br>
    > Cellule "Fonctionnement autres que les charges de personnel"
  <% elsif num_id == "charges_intervention_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Charges" <br>
    > Cellule "Intervention (le cas échéant)"
  <% elsif num_id == "produits_subventions_etat_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Produits" <br>
    > Cellule "Subventions de l'Etat"
  <% elsif num_id == "produits_fiscalite_affectee_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Produits" <br>
    > Cellule "Fiscalité affectée"
  <% elsif num_id == "produits_subventions_autres_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Produits" <br>
    > Cellule "Autres subventions"
  <% elsif num_id == "produits_autres_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Colonne "Produits" <br>
    > Cellule "Autres produits"
  <% elsif num_id == "charges_non_decaissables_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Calcul de la capacité d'autofinancement" <br>
    > Cellule "dotations aux amortissements, dépréciations et provisions" + Cellule "valeur nette comptable des éléments d'actifs cédés"
  <% elsif num_id == "produits_non_encaissables_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Calcul de la capacité d'autofinancement" <br>
    > Cellule "Reprise sur amortissements, dépréciations et provisions" + Cellule "Produits de cessions d'éléments d'actifs" + Cellule "Quote-part reprise au résultat des financements rattachés à des actifs"
  <% elsif num_id == "resultat_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Compte de résultat prévisionnel/exécuté" <br>
    > Cellule "Résultat"<br>
  <% elsif num_id == "capacite_autofinancement_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Etat prévisionnel/exécuté de l'évolution de la situation patrimoniale en droits constatés"<br>
    >  Cellule "Insuffisance d'autofinancement" ou "Capacité d'autofinancement" <br>
    La capacité d'autofinancement représente la capacité d'un organisme à dégager un flux de trésorerie à partir de son activité.
  <% elsif num_id == "emplois_cout_total_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Etat prévisionnel/exécuté de l'évolution de la situation patrimoniale en droits constatés"<br>
    > Colonne "Emplois" <br>
    > Cellule "Total des emplois"
  <% elsif num_id == "emplois_cout_investissements_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Etat prévisionnel/exécuté de l'évolution de la situation patrimoniale en droits constatés"<br>
    > Cellule "Investissements"
  <% elsif num_id == "ressources_total_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Etat prévisionnel/exécuté de l'évolution de la situation patrimoniale en droits constatés" <br>
    > Colonne "Ressources" <br>
    > Cellule "Total des ressources"
  <% elsif num_id == "ressources_financement_etat_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Etat prévisionnel/exécuté de l'évolution de la situation patrimoniale en droits constatés" <br>
    > Cellule "Financement de l'actif par l'État"
  <% elsif num_id == "ressources_autres_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - " Situation patrimoniale"</span><br>
    <% else  %>
      Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <% end %>
    > Tableau "Etat prévisionnel/exécuté de l'évolution de la situation patrimoniale en droits constatés" <br>
    > Cellule "Autres ressources"
  <% elsif num_id == "decaissements_operations_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire - "Equilibre financier"</span><br>
    > Cellule "Opérations au nom et pour le compte de tiers (c1)"
    <% else %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse - "Opérations pour comptes de tiers"</span><br>
    > Cellule "TOTAL Débits"
    <% end %>
  <% elsif num_id == "decaissements_emprunts_t" %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire - "Equilibre financier"</span><br>
    > Cellule "Remboursements d'emprunts (capital) ; Nouveaux prêts (capital) ; Dépôts et cautionnements (b1)"
  <% elsif num_id == "decaissements_autres_t" %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire - "Equilibre financier"</span><br>
    > Cellule "Autres décaissements non budgétaires (e1)"
  <% elsif num_id == "indicateur_dec_t" %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire - "Equilibre financier"</span><br>
    > Somme des cellules "Remboursements d'emprunts (capital) ; Nouveaux prêts (capital) ; Dépôts et cautionnements (b1)" + "Opérations au nom et pour le compte de tiers (c1)** + "Autres décaissements non budgétaires (e1)"
  <% elsif num_id == "encaissements_operations_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire - "Equilibre financier"</span><br>
    > Cellule "Opérations au nom et pour le compte de tiers (c2)"
    <% else %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse - "Opérations pour comptes de tiers"</span><br>
    > Cellule "TOTAL Crédits"
    <% end %>
  <% elsif num_id == "encaissements_emprunts_t" %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire - "Equilibre financier"</span><br>
    > Cellule "Nouveaux emprunts (capital) ; Remboursements de prêts (capital) ; Dépôts et cautionnements (b2)"
  <% elsif num_id == "encaissements_autres_t" %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire - "Equilibre financier"</span><br>
    > Cellule "Autres encaissements non budgétaires (e2)"
  <% elsif num_id == "indicateur_enc_t" %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire - "Equilibre financier"</span><br>
    > Somme des cellules "Nouveaux emprunts (capital) ; Remboursements de prêts (capital) ; Dépôts et cautionnements (b2)"+ "Opérations au nom et pour le compte de tiers (c2)**" + "Autres encaissements non budgétaires (e2)"
  <% elsif num_id == "indicateur_charges_personnel_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des charges de personnel / Total des charges décaissables</span><br><br>
    Cet indicateur permet de mesurer le degré de rigidité du budget lié à la part des dépenses destinées à la rémunération des personnel.
  <% elsif num_id == "indicateur_charges_fonctionnement_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des charges de fonctionnement / Total des charges décaissables</span>
  <% elsif num_id == "indicateur_charges_intervention_t" %>
    <span class="fr-text--bold">Formule de calcul : Total des charges d'intervention / Total des charges décaissables</span>
  <% elsif num_id == "indicateur_ressources_t" %>
    <span class="fr-text--bold">Formule de calcul : (Autres produits - Produits non encaissables + Autres ressources) / (Total des produits - Produits non encaissables + Total des ressources - CAF) </span><br><br>
    NB : Dans le dénominateur seule la CAF (c'est-à-dire si le montant dans le champ "CAF" est positif) est à retirer du total des ressources. L'IAF (c'est-à-dire si le montant dans le champ "CAF" est négatif) n'a pas à être retirée / ajoutée : n'a pas d'impact sur le total des ressources.<br>
    Cet indicateur permet de mesurer le taux de dépendance de l'organisme vis-a-vis des financements publics.
    <!-- TRESORERIE -->
  <% elsif num_id == "tresorerie_finale_flechee_t" %>
    Source : <span class="fr-text--underline">Tableau 10 de la liasse budgétaire -"Synthèse budgétaire et comptable"</span><br>
    > Cellule "Dont niveau final de la trésorerie fléchée"
  <% elsif num_id == "tresorerie_finale_non_flechee_t" %>
    Source : <span class="fr-text--underline">Tableau 10 de la liasse budgétaire -"Synthèse budgétaire et comptable"</span><br>
    > Cellule "Dont niveau final de la trésorerie non fléchée"
  <% elsif num_id == "indicateur_treso_non_flechee_t" %>
    <span class="fr-text--bold">Formule de calcul : Niveau final de trésorerie non fléchée / Niveau final de la trésorerie</span>
  <% elsif num_id == "indicateur_treso_rap_t" %>
    <span class="fr-text--bold">Formule de calcul : Niveau final de la trésorerie / Niveau final des restes à payer</span>
  <% elsif num_id == "indicateur_treso_non_flechee_jours_t" %>
    <span class="fr-text--bold">Formule de calcul : Formule de calcul : Niveau final de trésorerie non fléchée / ((Total des crédits de paiements - Total des dépenses d'investissement (CP)) / 360) </span>
  <% elsif num_id == "indicateur_treso_jours_t" %>
    <span class="fr-text--bold">Formule de calcul : Formule de calcul : Niveau final de trésorerie / <%= chiffre&.comptabilite_budgetaire ? "((Total des crédits de paiements - Total des dépenses d'investissement (CP)) / 360)" : "(Charges décaissables / 360)"%> </span>
  <% elsif num_id == "indicateur_treso_non_flechee_t" %>
    Source : <span class="fr-text--underline">Tableau 10 de la liasse budgétaire -"Synthèse budgétaire et comptable"</span><br>
    > Cellule "Niveau final de la TRESORERIE"<br>
    ou <br>
    Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - "Situation patrimoniale"</span><br>
    > Tableau  "Variation et niveau du fonds de roulement, du besoin en fonds de roulement et de la trésorerie"<br>
    >  Cellule "Niveau final de la TRESORERIE"
  <% elsif num_id == "tresorerie_indicateur_initial_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 7 de la liasse budgétaire - "Plan de trésorerie"</span><br>
    <%else %>
        Source : <span class="fr-text--underline">Tableau 5 de la liasse - "Plan de trésorerie"</span><br>
    <%end %>
    > Cellule "SOLDE INITIAL (début de mois)"
  <% elsif num_id == "tresorerie_variation_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
        Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - "Situation patrimoniale" </span><br>
    <%else %>
        Source : <span class="fr-text--underline"> Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <%end %>
    > Tableau  "Variation et niveau du fonds de roulement, du besoin en fonds de roulement et de la trésorerie"<br>
    >  Cellule "Variation de la TRESORERIE : ABONDEMENT ou PRELEVEMENT"
  <% elsif num_id == "tresorerie_variation_flechee_t" %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire -  "Equilibre financier"</span><br>
    > Cellule "Abondement de la trésorerie fléchée" ou "Prélèvement sur la trésorerie fléchée"
  <% elsif num_id == "tresorerie_variation_non_flechee_t" %>
    Source : <span class="fr-text--underline">Tableau 4 de la liasse budgétaire -  "Equilibre financier"</span><br>
    > Cellule "Abondement de la trésorerie non fléchée" ou "Prélèvement sur la trésorerie non fléchée"
  <% elsif num_id == "tresorerie_max_t" %>
    Source : <span class="fr-text--underline">Tableau 7 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "Plan de trésorerie"</span><br>
    Ligne "Solde Cumulé"
  <% elsif num_id == "tresorerie_min_t" %>
    Source : <span class="fr-text--underline">Tableau 7 de la liasse<%if chiffre&.comptabilite_budgetaire %> budgétaire<%end %> - "Plan de trésorerie"</span><br>
    Ligne "Solde Cumulé"
  <% elsif num_id == "tresorerie_finale_t" %>
    Source : <span class="fr-text--underline">Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    > Tableau "Variation et niveau du fonds de roulement, du besoin en fonds de roulement et de la trésorerie" <br>
    > Cellule "Niveau final de la TRESORERIE"
  <% elsif num_id == "tresorerie_finale_text_t" %>
    Source : <span class="fr-text--underline">Tableau 10 de la liasse budgétaire -"Synthèse budgétaire et comptable"</span><br>
    > Cellule "Niveau final de la TRESORERIE"<br>
    ou <br>
        Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - "Situation patrimoniale"</span> <br>
    > Tableau  "Variation et niveau du fonds de roulement, du besoin en fonds de roulement et de la trésorerie"<br>
    >  Cellule "Niveau final de la TRESORERIE : ABONDEMENT ou PRELEVEMENT"
    <!-- ANALYSE -->
  <% elsif num_id == "fonds_roulement_variation_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
        Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - "Situation patrimoniale" </span><br>
    <%else %>
        Source : <span class="fr-text--underline"> Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <%end %>
    > Tableau "Variation et niveau du fonds de roulement, du besoin en fonds de roulement et de la trésorerie" <br>
    > Cellule "Variation du FONDS DE ROULEMENT : AUGMENTATION ou DIMINUTION"
  <% elsif num_id == "fonds_roulement_final_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
        Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - "Situation patrimoniale" </span><br>
    <%else %>
        Source : <span class="fr-text--underline"> Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <%end %>
    > Tableau "Variation et niveau du fonds de roulement, du besoin en fonds de roulement et de la trésorerie" <br>
    > Cellule "Niveau final du FONDS DE ROULEMENT"
  <% elsif num_id == "indicateur_fr_initial_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 10 de la liasse budgétaire -"Synthèse budgétaire et comptable"</span><br>
      > Cellule "Niveau initial du fonds de roulement"
    <%else %>
        Donnée calculée
    <%end %>
  <% elsif num_id == "fonds_roulement_besoin_final_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
      Source : <span class="fr-text--underline">Tableau 10 de la liasse budgétaire -"Synthèse budgétaire et comptable"</span><br>
      > Cellule "Niveau final du besoin en fonds de roulement"
    <%else %>
        Source : <span class="fr-text--underline"> Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
        > Tableau "Variation et niveau du fonds de roulement, du besoin en fonds de roulement et de la trésorerie" <br>
        > Cellule "Niveau final du BESOIN EN FONDS DE ROULEMENT"
    <%end %>
  <% elsif num_id == "indicateur_bfr_initial_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
        Source : <span class="fr-text--underline">Tableau 10 de la liasse budgétaire -"Synthèse budgétaire et comptable"</span><br>
       > Cellule "Niveau initial du besoin en fonds de roulement"
    <%else %>
        Donnée calculée
    <%end %>
  <% elsif num_id == "indicateur_besoin_fr_t" %>
    <% if chiffre.comptabilite_budgetaire == true %>
        Source : <span class="fr-text--underline">Tableau 6 de la liasse budgétaire - "Situation patrimoniale" </span><br>
    <%else %>
        Source : <span class="fr-text--underline"> Tableau 2 de la liasse - "Compte de résultat et état de l'évolution de la situation patrimoniale en droits constatés"</span><br>
    <%end %>
    > Tableau  "Variation et niveau du fonds de roulement, du besoin en fonds de roulement et de la trésorerie"<br>
    >  Cellule "Variation du BESOIN en FONDS DE ROULEMENT (FONDS DE ROULEMENT - TRESORERIE)"<br>
    Un besoin en fonds de roulement > 0 indique que l'organisme décaisse plus vite qu'il encaisse et donc qu'il est nécessaire de prélever sur sa trésorerie afin de financer les opérations lancées.<br>
    A l'inverse, un besoin en fonds de roulement < 0 indique que l'organisme encaisse plus vite qu'il ne décaisse et donc que la trésorerie est abondée.
  <% end %>
</span>