<% content_for :title do %>Restitutions graphiques de l'organisme <%= @organisme.nom %> | OPERA
<% end %>
<main role="main" data-controller="toggle">
  <div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb fr-my-3w" aria-label="vous êtes ici :">
      <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane
      </button>
      <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
          <li>
            <%= link_to root_path, class: "fr-breadcrumb__link" do %>Accueil
            <% end %>
          </li>
          <li>
            <%= link_to budgets_path, class: "fr-breadcrumb__link" do %>Liste des budgets
            <% end %>
          </li>
          <li>
            <a class="fr-breadcrumb__link" aria-current="page"><%= @organisme.nom %></a>
          </li>
        </ol>
      </div>
    </nav>

    <h1 class="fr-mb-4w title-btn"><%= @organisme.nom %></h1>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-4">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height" aria-labelledby="fr-sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">
              Dans cette rubrique
            </button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
              <div class="fr-sidemenu__title" id="fr-sidemenu-title">Sections</div>
              <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                  <%= link_to organisme_path(@organisme), class: "fr-sidemenu__link", target: "_self" do %>Fiche
                    d'identité
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to organisme_chiffres_path(@organisme), class: "fr-sidemenu__link", target: "_self" do %>
                    Données budgétaires et comptables
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <button class="fr-sidemenu__btn " aria-expanded="false" aria-controls="fr-sidemenu-item-0" aria-current="true">Restitutions
                    graphiques
                  </button>

                  <div class="fr-collapse" id="fr-sidemenu-item-0">
                    <ul class="fr-sidemenu__list">
                      <li class="fr-sidemenu__item">
                        <button class="fr-sidemenu__link" data-toggle-id="emplois" data-action="click->toggle#changeMenuSection">Emplois</button>
                      </li>
                      <li class="fr-sidemenu__item">
                        <button class="fr-sidemenu__link" data-toggle-id="comptabilite" data-action="click->toggle#changeMenuSection"><%= @organisme.comptabilite_budgetaire == "Non" ? "Comptabilité générale" : "Crédits" %> </button>
                      </li>
                      <li class="fr-sidemenu__item">
                        <button class="fr-sidemenu__link" data-toggle-id="tresorerie" data-action="click->toggle#changeMenuSection">Trésorerie</button>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="fr-sidemenu__item">
                  <%= link_to enquete_organisme_path(@organisme), class: "fr-sidemenu__link", target: "_self" do %>
                    Contrôle interne et financier
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="fr-col-12 fr-col-lg-8">
        <% if @chiffres.empty? %>
          <div class="fr-highlight">
            <p>Il n'y a pas encore de budgets renseignés pour cet organisme.</p>
          </div>
        <% else %>
          <div data-controller="highcharts" data-highcharts-abscisses="<%= @abscisses %>" data-highcharts-groupeddatas="<%= @grouped_chiffres_by_exercice.to_json %>" data-highcharts-abscissesbis="<%= @abscisses_bis %>" data-highcharts-series="<%= @series.to_json %>" data-highcharts-cb="<%= @organisme.comptabilite_budgetaire %>">
            <div id="emplois">
              <h2>Emplois</h2>
              <h3 class="fr-h4">Évolution de la masse salariale (BI/CF)</h3>
              <div class="fr-mb-6w" data-highcharts-target="canvasMS"></div>
              <h3 class="fr-h4">Évolution des emplois (BI/CF)</h3>
              <div class="fr-mb-6w" data-highcharts-target="canvasEmplois"></div>
              <h3 class="fr-h4">Comparaison de l’évolution de la masse salariale et des emplois</h3>
              <div class="fr-mb-6w" data-highcharts-target="canvasEmploisBis"></div>
            </div>
            <div id="comptabilite">
              <h2 class="fr-my-2w"><%= @organisme.comptabilite_budgetaire == "Non" ? 'Comptabilité générale' : 'Crédits' %></h2>
              <% if @organisme.comptabilite_budgetaire == "Non" %>
                <h3 class="fr-h4">Évolution des charges (BI/CF)</h3>
                <div class="fr-mb-6w" data-highcharts-target="canvasCharges"></div>
                <h3 class="fr-h4">Évolution des produits (BI/CF)</h3>
                <div class="fr-mb-6w" data-highcharts-target="canvasProduits"></div>
                <h3 class="fr-h4">Comparaison de l’évolution des charges et des produits</h3>
                <div class="fr-mb-6w" data-highcharts-target="canvasChargesProduits"></div>
              <% else %>
                <h3 class="fr-h4">Évolution des dépenses (BI/CF)</h3>
                <div class="fr-mb-6w" data-highcharts-target="canvasDepenses"></div>
                <h3 class="fr-h4">Évolution des recettes (BI/CF)</h3>
                <div class="fr-mb-6w" data-highcharts-target="canvasRecettes"></div>
                <h3 class="fr-h4">Comparaison de l’évolution des dépenses et des recettes</h3>
                <div class="fr-mb-6w" data-highcharts-target="canvasDepensesRecettes"></div>
              <% end %>
            </div>
            <div id="tresorerie">
              <h2 class="fr-my-2w">Trésorerie</h2>
              <h3 class="fr-h4">Évolution de la trésorerie finale (BI/CF)</h3>
              <div class="fr-mb-6w" data-highcharts-target="canvasTreso"></div>
              <h3 class="fr-h4">Comparaison de l’évolution de la trésorerie et du besoin en fonds de roulement</h3>
              <div class="fr-mb-6w" data-highcharts-target="canvasTresoBFR"></div>
              <% if @organisme.comptabilite_budgetaire != "Non" %>
                <h3 class="fr-h4">Comparaison de l’évolution de la trésorerie et des restes à payer</h3>
                <div class="fr-mb-6w" data-highcharts-target="canvasTresoRAP"></div>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
