<% content_for :title do %>Suivi du remplissage des budgets | OPERA <% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-my-4w">Suivi du remplissage des budgets par contrôleur</h1>
      </div>
    </div>
    <div class="fr-download">
      <p><%= link_to suivi_remplissage_path(format: :xlsx), class: "fr-download__link" do %> Télécharger le suivi du remplissage
          <span class="fr-download__detail">Format .xlsx</span>
        <%end %></p>
    </div>
    <div class="fr-table fr-table--bordered fr-table--no-caption fr-table--layout-fixed--lg fr-table--onglet2-vscroll fr-table--min-height">
      <table>
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">Contrôleur</th>
            <th scope="col">Nombre d'organismes actifs</th>
            <th scope="col">Somme de budgets renseignés</th>
            <th scope="col">Taux de budgets renseignés (%)</th>
            <th scope="col">BI 2024 renseignés</th>
            <th scope="col">Taux BI 2024 renseignés (%)</th>
          </tr>
        </thead>
        <tbody>
        <tr class="total">
          <td>Total</td>
          <td><%= @array_remplissage_user.transpose.map{|e| e.inject(:+)}[1] %></td>
          <td><%= @array_remplissage_user.transpose.map{|e| e.inject(:+)}[2] %></td>
          <td><%= @array_remplissage_user.transpose.map{|e| e.inject(:+)}[1] == 0 ? 100 : (@array_remplissage_user.transpose.map{|e| e.inject(:+)}[2] * 100 / @array_remplissage_user.transpose.map{|e| e.inject(:+)}[1]) %>%</td>
          <td><%= @array_remplissage_user.transpose.map{|e| e.inject(:+)}[3] %></td>
          <td><%= @array_remplissage_user.transpose.map{|e| e.inject(:+)}[1] == 0 ? 100 : (@array_remplissage_user.transpose.map{|e| e.inject(:+)}[3] * 100 / @array_remplissage_user.transpose.map{|e| e.inject(:+)}[1]).round %>%</td>
        </tr>
          <%@array_remplissage_user.each do |array| %>
          <tr>
            <td><%= array[0] %></td>
            <td><%= array[1] %></td>
            <td><%= array[2] %></td>
            <td><%= array[4] %>%</td>
            <td><%= array[3] %></td>
            <td><%= array[5] %>%</td>
          </tr>
          <% end  %>
        </tbody>
      </table>
    </div>
  </div>
</main>