<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                Ministère
                <br>de l'économie,<br>des finances<br>et de la souveraineté<br> industrielle et numérique
              </p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <%= link_to root_path, title: "Accueil - OPERA" do%>
              <p class="fr-header__service-title">
                OPERA
              </p>
            <%end %>
            <p class="fr-header__service-tagline">Organismes Publics de l'État, Rémunération et Analyse </p>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="fr-header__tools">
            <div class="fr-header__tools-links ">
              <ul class="fr-btns-group">
                <li>
                  <%= link_to "Se déconnecter", destroy_user_session_path, data: { "turbo-method": :delete }, class:"fr-btn fr-fi-logout-box-r-line" %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
    <div class="fr-container">
      <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
        Fermer
      </button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav" id="fr-navigation" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
          <li class="fr-nav__item">
            <%= active_link_to root_path, class: "fr-nav__link", target: "_self", :active => [['pages'],['index']] do%>Accueil<%end%>
          </li>

          <li class="fr-nav__item">
            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-776" <%= current_page?(organismes_path) || current_page?(new_organisme_path) ? 'aria-current="true"' : '' %>>Organismes</button>
            <div class="fr-collapse fr-menu" id="menu-776">
              <ul class="fr-menu__list">
                <li>
                  <%= active_link_to organismes_path, class: "fr-nav__link", target: "_self", :active => [['organismes'],['index']] do%>Liste des organismes<%end%>
                </li>
                <% if @statut_user == '2B2O' %>
                <li>
                  <%= active_link_to new_organisme_path, class: "fr-nav__link", target: "_self" do%>Créer la fiche d'un organisme<%end%>
                </li>
                <% end %>
              </ul>
            </div>
          </li>
          <% if @statut_user == "2B2O" ||  @statut_user == "Controleur"%>
          <li class="fr-nav__item">
            <%= active_link_to modifications_path, class: "fr-nav__link", target: "_self" do%>
              Gestion des modifications
              <% if @modifications_attente.length > 0 %><p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-alarm-warning-fill fr-icon--sm" aria-hidden="true"></span> [<%= @modifications_attente.length%>]<%end %></p>
            <%end%>
          </li>
          <%end %>
          <li class="fr-nav__item">
            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-chiffres" <%= current_page?(budgets_historique_path) || current_page?(new_chiffre_path) ? 'aria-current="true"' : '' %>>Cycle budgétaire</button>
            <div class="fr-collapse fr-menu" id="menu-chiffres">
              <ul class="fr-menu__list">
                <% if @statut_user == 'Controleur' %>
                  <li>
                    <%= active_link_to new_chiffre_path, class: "fr-nav__link", target: "_self" do%>Renseigner un budget<%end%>
                  </li>
                <% end %>
                <li>
                  <%= active_link_to budgets_historique_path, class: "fr-nav__link", target: "_self" do%>Historique des budgets<%end %>
                </li>

                <li>
                  <%= active_link_to budgets_suivi_path, class: "fr-nav__link", target: "_self" do%>Budgets par organisme<%end%>
                </li>
              </ul>
            </div>

          </li>
        </ul>
      </nav>
    </div>
  </div>
  <%end %>
</header>