<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= content_for?(:title) ? yield(:title) : "Operateurs" %></title>
  <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= wicked_pdf_stylesheet_link_tag "pdf" %>


</head>
<body>

<%= yield %>
</body>
</html>